[2015-09-04 07:41] kirthiss opened #143 "HR Module - Leaves should not be modified after processing (Submitting) salary"
No leaves should be changed, added or removed for any employee and period for which the salary is processed and submitted.

Scenario: If salary is submitted for Aug 2015 for Emp 001, then the leave data cannot be modified (no new leaves, no deletion or cancellation of leaves) for Emp 001, Aug 2015.

Allowing changes to Leaves after salary is processed will dis-integrate the payroll data.

[2016-08-17 21:30] jasonbrowne opened #211 "Feature Request Corrective Action Form"
**Problem:** Our Human Resources department, and our managers are curious as to what users of ERPNext do in regards to CAR (Corrective action reports), & PIP ( Performance Improvement Plans). We have not found either to be a feature of ERPNext, and would like to keep all of our reports / documentation in one system.

**Feature Request:** Creation of CAR (Corrective action reports), and PIP ( Perfo

[2016-08-18 06:40] rmehta commented on #211
@jasonbrowne CAR and PIP sounds a lot like Dilbert speak 😆

How about making a Custom DocType for that?

[2016-09-05 11:35] jmatsushita opened #212 "[Feature Request] submission of expense claims in different currency"
Since other issues are closed frappe/erpnext#4562 frappe/erpnext#1002 I thought I'd reopen a feature request issue for enabling the submission of expense claims in different currency.

Thanks for the great work with v7! It's really much more usable!

[2016-09-08 03:31] strixaluco commented on #212
@jmatsushita wasn't it merged in frappe/erpnext/pull/3995?

[2016-09-24 20:10] mhbu50 commented on #212
+1

[2016-09-24 21:03] mhbu50 commented on #211
+1

[2016-12-03 06:46] mafrica opened #167 "HR Salary Slip Peview"
The useful salary slip preview function in Salary Structure appears to only apply to the basic conditions and calculation blocks in the structure.  It would be great if it also allowed a preview of the calculations of pay that are based on timesheet data.

The check box is there is the salary structure to say that the structure is dependent on a timesheet and so it is confusing when this does not

[2016-12-16 08:09] ASneha1 commented on #143
Hi Team,

Kindly seek your advice on having this check as an optional  HR Setting.
We have a requirement that the staff should be able to apply for leave during the payroll processing period. The HR would handle such cases manually in the upcoming month.
Seeking your advice on the feasibility of having this check as an option rather than part of the standard code. Or how can are we able to work ar

[2016-12-26 17:28] Jaliya opened #210 "Pay Slip and Payment for Overtime Work"
Presently only way available to include payment for overtime work in the pay slip is through using Time Sheet (One time sheet per person per day). If a team of 10 employees had engaged in a task beyond normal working hours there should be a way to enter their overtime hours more easily.
Now in the pay slip, Time Sheet Number is indicated against the number of hours. Time sheet number is of little

[2017-01-05 09:08] KanchanChauhan commented on #210
Do you any suggestion how to achieve your first request? In my opinion for each employee timesheet will have to be filled out separately since may be someone worked for 3 hours, others 5 or 7.

And for the second one, Timesheet indicates just number of hours, Employees usually have access to their time sheets, they can check more information there, if they want. Salary Slip will become very clutte

[2017-01-05 09:24] OneiricIT opened #209 "Payroll Feature Request - Leave Calculation"
- [ ] **Introduce a 'leave' salary component and formula section in salary structure for leave accrual**
For example, leave is added to the employee's total leave allocation based on the formula specified in the salary structure. This would dynamically increase the allocated leave each pay cycle, which would suit better then allocating a new employee the maximum leave entitled in which they are no

[2017-01-19 09:47] KanchanChauhan commented on #209
1. I think Leave and Salary are no doubt bit related but should be separately calculated. We can have an option in leave allocation for that instead on Salary Slip. For you it might be like Employee earns monthly leave but for some it might be yearly.
2. You mean total paid leaves? I am did not understand it, where do you want to calculate and show that.
3. Right now we just show leave without pay

[2017-01-19 12:02] OneiricIT commented on #209
Sounds good. A formula option for it to accumulate based on each employee's salary slip (only when they are generated for that employee).

I am referring to all paid leave owing to employees which has not been paid out i.e. paid leave which has not been taken for the entire company. Given this is a liability, could there not be a Chart of Account under liabilities which can reflect the present tot

[2017-02-21 05:48] OneiricIT commented on #209
Hi @KanchanChauhan,
Would there be any update on this?

[2017-02-21 05:51] KanchanChauhan commented on #209
Unfortunately this issues needs little bit more digging into. We are not sure if it is generic enough, hence it is on hold for now.

[2017-02-21 05:58] OneiricIT commented on #209
Would you like me to create a new entry in the discussion forums to get some feedback from the community?

[2017-02-24 10:27] DrTrills opened #168 "Show leaves in Attendance Heatmap - Employee"
An idea that came from our office admin is to have leave applications (vacation/sick time) be visible in the attendance filter on the employee page for quick glances to see when people are in/out and where they are.

[2017-02-24 11:38] KanchanChauhan commented on #168
Can you please be more specific where exactly, Employee Report or Attendance Report?

[2017-02-24 13:26] DrTrills commented on #168
Hi Kanchan,

Thanks for writing!

We would like to see in the top grid of attendance another color/link for leave requests. Perhaps assigned each leave type a certain color (sick purple, vacation blue, maternity pink, etc)

<img width="770" alt="screen shot 2017-02-24 at 2 24 35 pm" src="https://cloud.githubusercontent.com/assets/1430005/23305033/1cb701fa-fa9d-11e6-9de3-01989befb217.png">

[2017-03-29 15:01] jwrober opened #208 "Salary Slip earnings based on timesheet activity cost"
From here - https://discuss.erpnext.com/t/salary-off-timesheet-more-than-one-earning-amount/21808

Please consider adding the feature to be able to have more than one salary slip earning value based on timesheet activity cost instead of just the total time on the timesheet and one salary component.

[2017-04-24 09:46] SOLOSOFTMA commented on #208
+1

[2017-05-10 08:19] dufani1 commented on #208
hi..
please why this issue closed? it is a very important features
thanks

[2017-05-10 14:33] jwrober commented on #208
This issue is not closed, the related issue has been closed

[2017-05-16 07:09] Arundhatii opened #207 "Designation should be updated on Save/Submit for Salary Slip"
If the Employee designation has changed, it should be updated.

[2017-05-16 16:12] tundebabzy commented on #207
Hello @Arundhatii
Please give more information, possibly screen shots too and the version you are working with

[2017-05-23 15:39] bcornwellmott opened #206 "HR Training Improvements"
The current design is very limited and could use some improvements:

- Have email link user to HR module, perhaps with the ability to directly confirm their status from the email
- Self-indicate completed training
- Easier prompting for training feedback (link in invitation email)
- Only send invitation email on document Submit

Discussion:
https://discuss.erpnext.com/t/employee-training-hr-module

[2017-05-24 16:58] jwrober opened #205 "[Enh] User ID : User Name in Employee Record"
In HR Module, Salary Structure doctype, when you select an employee to the sub table, it shows the employee naming series number and the employee name. Here is a sample

![image](https://cloud.githubusercontent.com/assets/23037938/26415414/08226f38-4078-11e7-98f8-fd06312ea998.png)

My request is to have this same 'feature' happen on the employee form where you select the employee's one up manager/

[2017-05-27 06:00] ckosiegbu commented on #205
+1

[2017-05-30 14:29] jwrober opened #204 "Employee Address as Address Document"
Migrate perm address and current address text fields to address documents. This is mostly a consistency thing with what other functions are doing in the system with the address doctype.

Be sure to migrate any existing data in these fields during update.

[2017-06-01 13:37] jwrober opened #50 "Salary component YTD and Pay Slip updates"
Continuation of - https://github.com/frappe/erpnext/issues/7948 - Would like to see a feature in salary component to support year to date salary and other summed type values. There are a number of tax calculations (at least in the US) that are based on the total year to date gross salary.

Also would like the be able to flag some of the statistical components so they can be added to a pay slip for

[2017-06-01 13:38] jwrober commented on #50
Seems to be linked to this issue as well - https://github.com/frappe/erpnext/issues/7389

[2017-06-03 06:46] adnanmunir83 commented on #167
Good if we can have this feature.  will ease lots of users

[2017-06-09 09:13] hanselke opened #203 "Salary Structure: Allow to save with empty employee table"
this will allow us to switch employee's salary structure when there is no other user in the older structure.

We currently have to remove an employee from the salary structure, save it before adding employee to another salary structure.

[2017-06-16 06:53] creamdory opened #202 "Login User is Employee Link Field Default"
HI All,

I noticed that when you setup "User ID" under Employee doctype, log-in user will be defaulted in all Employee Link Fields in other doctypes. I believe this should not be in all cases.

![default employee](https://user-images.githubusercontent.com/21003054/27215348-55f50e04-52a3-11e7-98bd-6fa49840b379.png)

[2017-06-19 07:03] rmehta opened #201 "Make Holiday List easier to use"
- [ ] In Company, make a table for weekly off
- [ ] When a holiday list expires for a company, automatically create a new one with weekly off from Company.

[2017-06-22 21:12] Helkyd opened #200 "Leave block days for more than a week"
Based on https://discuss.erpnext.com/t/leave-block-days-for-more-than-a-week/25173
Advise is to make the field either DateRange (from and until ) ... for instance i need to block from March till November. How many records will be created with single date and how many times the user has to enter records !!!

While if single record with From and Until date will allow us to have more records and less

[2017-07-09 23:09] SOLOSOFTMA commented on #210
normally should be a timesheet templates which you define from time to time what to apply a normal hours ot extra hours and based on each tamplate you have to specify hourly rate coz when you work extra time its highly rated.
regards

[2017-07-09 23:10] SOLOSOFTMA commented on #167
+1

[2017-07-27 08:52] mafrica commented on #50
Just a brief word of support most tax deductions and benefits are calculated on an annualised basis and so a window of a single pay period is very restrictive.

[2017-08-01 06:24] umairsy opened #229 "Expense Claim and Leave Application conflicting with Workflow"
DocType like Expense Claim and Leave Approver has it's own approval mechanism where User selects Approver, and the Approver submits it.

On these documentations, the user also applies Workflow leading to issues in approving Expense Claim and Leave Application.

[2017-08-11 16:35] bghayad commented on #210
And what about the hour rate? How to be calculated based on the employee salary and not based on flat rate?
Regards
Bilal

[2017-09-19 14:24] Absmachine opened #199 "Human Resources: Task Assigned Vs Appraisal Template Restructure"
Greetings!
I am dropping another feature i feel the above topic should work.
My Argument:
The ToDo feature which is a brilliant tool for efficiency tracking and productivity, really has no link to appraisal of the staffer. Competence and performance is really tied around task and evaluated.
Lets take a team of 5, 4 members and 1 team lead. They meet on a monday to have their depts meeting, in the

[2017-09-19 14:26] Absmachine opened #198 "Human Resources: Attendance Sheet Timing"
Hello Guys,
Attendance is a key aspect of staff control and in order to keep this in check, companies have started the deployment of smart cards to auto track time in and out times.
ERPnext has succeeded in getting this done in a simpler way by having the attendance tool.
However, i have an issue with the way its timing is done which is " Present, Absent, Half day". Thia does not handle time in an

[2017-09-25 07:48] ishanloya opened #197 "Salary slip cannot be amended if salary structure has changed"
If an employee's salary structure has changed and his/her salary slip (made using old salary structure) needs to be amended, this is not possible since the system cannot find the employee under the old salary structure anymore even though the period hasn't changed.

[2017-09-29 17:22] bcornwellmott opened #196 "Get User Default for Employee not working"
The command `frappe.defaults.get_user_default("Employee")` is no longer working in either master or develop branches.

I'm not quite sure when it stopped working, but this command is in at least one location and won't work:

https://github.com/frappe/erpnext/blob/5f27c941000f0de04bea78296c65023a93abe9da/erpnext/hr/doctype/appraisal/appraisal.js#L16

[2017-10-13 15:57] fproldan commented on #208
+1

[2017-10-13 16:34] federicocalvo commented on #208
+1

[2017-10-14 17:44] dufani1 opened #195 "Payroll enhancement"
Hii,
I think we shall add HTML table shows the employees who will create the Salary Slips for, it is appears when select the filter for employee.

![2f5c95ed73a4f905ed82c4aaa4f36d2b76bc2568_1_690x331](https://user-images.githubusercontent.com/23026263/31577966-07e363ae-b118-11e7-9f3e-77c9cef4f5df.png)

[2017-10-26 04:05] addymuliady commented on #50
To add, Employer's Contribution or any other components which are neither Earning or Deduction.

[2017-10-26 05:34] mafrica commented on #50
I wholly support this.  While tax deductions and earnings and are top priority - access to YTD vacation by type in the payslip would also be very valuable,

[2017-11-02 12:17] FlexsoftsTech opened #194 "Required HR Features for Middle East"
Dear Gents
in middle East there is standard for absence deduction not like rest of the world,
let assume there an Employee and his salary 3000 $per month and he have one day absence in February, in Middle East, we have a standard working number and it is 30 days, so we dividing his salary on 30 regardless number of month days, and his net salary will be 2900$
i suggest adding a checkbox in HR sett

[2017-11-02 18:14] tundebabzy commented on #194
Hi @FlexsoftsTech
Let's break this request into bits. This issue will be about implementing standard working days. The other requests should go into other issues

[2017-11-03 07:05] asharamseervi opened #193 "Simply marking Absent not have impact on salary calculation. Mapping it LWP will work?"
Hi,

I just noticed that many of facing same issues like me, like simply marking Absent not have an impact on salary calculation. I put my view here at discussion form: https://discuss.erpnext.com/t/simply-marking-absent-not-have-impact-on-salary-calculation-renaming-it-lwp-will-work/30181

What alternative can be achieved for employees, who was absent, also they hadn't informed or not even reques

[2017-11-03 19:01] FlexsoftsTech commented on #194
@tundebabzy the 2 issue in HR, this is the way HR working in Saudi Arabia we cannot separate them in my opinion

[2017-11-17 14:26] jwrober opened #192 "Salary Slip update of formula based option"
From here - https://discuss.erpnext.com/t/salary-slip-override-salary-structure-component-formula-result/30157

There are times when a manual update of a calculated item is needed at payroll "run time". Please consider changing the way ERPNext handles calculated fields in the salary slip to allow a manual data entry after calculation. Maybe provide a dialog box to confirm that the personal really

[2017-11-17 14:55] jwrober opened #191 "Applicant Tracking System - Updates to Job Applicant"
From here - https://discuss.erpnext.com/t/feature-proposal-applicant-tracking-system-ats/30661

Please consider updates to the Job Applicant and creation of some new child doctypes for Job Applicant to better support an applicant tracking system in erpnext

Changes to Job Applicant

- [ ] Change applicant name and break out to First, Middle and Last Name fields
- [ ] Add address information
- [ ]

[2017-11-20 04:11] OneiricIT opened #190 "Process Payroll - Bank Entry Rounding"
Hi,
Just noticed when completing the Process Payroll and selecting 'Make Bank Entry', the journal entry shows:
1) The figure is rounded
2) The rounded figure is not even per the smallest fraction in Company currency (USD)

I cannot see why the bank entry should be rounded if performed via an EFT account as digital currency does not abide by 'cash' smallest currency fraction and this can cause big

[2017-11-26 00:56] OneiricIT commented on #192
I have found the same issue when wanting to manually adjust a salary slip based on adding a bonus to an employee and trying to update the formulated deduction or earning.
I also then tried to add in a separate line items for the same earning / deduction component with different values to equate to the figures I needed - it automatically changes to the formulated value in the initial corresponding

[2017-12-19 00:26] addymuliady commented on #50
https://github.com/frappe/erpnext/issues/12097

[2018-01-17 07:38] dawoodjee commented on #50
@mafrica , @addymuliady @jwrober Please remember to hit the like button to vote on this issue

[2018-01-22 15:19] dawoodjee commented on #50
I'm considering customising the HR module to achieve this. I plan to pull the values from past payslips and sum them up in the current payslip.

It'd also be useful to save the current value in the Employee Profile, or better a linked document.

This will need an opening value in case of an implementation with already existing YTD values (mid-year for example).

So the formula for YTD Tax would be

[2018-02-16 08:51] mhbu50 commented on #194
@FlexsoftsTech Any Update from your side?
If not let us cooperate together to solve this.
Could you make the prototype and the design for the feature

[2018-02-16 17:31] mikladious commented on #212
really much more usable!

I tried many scenarios to remove options, uncheck read-only, create new accounts...etc. All failed to solve this issue.

hereunder examples of received errors
1- "You can't set 'Options' for field Total Claimed Amount"
2- "You can't set 'Options' for field Total Sanctioned Amount"
3- "Read Only' for field Total Claimed Amount"
4- "Read Only' for field Total Sanctioned Amo

[2018-05-01 03:03] ekpott opened #5128 "Payroll Module Does Not Support Sophisticated Formular"
Salary Structure keeps giving errors, even after checking through severally.

![image](https://user-images.githubusercontent.com/7124097/39459587-81e768d0-4cf4-11e8-9c08-222455a13463.png)

Kindly see below

![image](https://user-images.githubusercontent.com/7124097/39459595-910ef8f0-4cf4-11e8-84f4-0e445cdbff72.png)

Here is the [link ](http://www.arcadia.com.ng/payroll_template.xlsx)to the actual

[2018-05-03 13:57] theopen-institute opened #613 "Rethinking Payroll Entry"
The `Payroll Entry` doctype is at present very unintuitive. It generates `Pay Slips`, and it generates `Journal Entries`, but it doesn't maintain any reference to those things after it has been submitted. A user could go cancel each of the pay slips or amend the journal entry, but the payroll entry doc would never know. If the payroll entry is cancelled, nothing happens to the journal entry or pay

[2018-05-04 14:01] clarkejj commented on #613
see also https://github.com/frappe/erpnext/issues/12070

[2018-05-09 11:00] erpuser opened #189 "Salary Slip - Fetching data of Beneficiary Name, Bank Name & Acc No."
Hi,

We are currently not able to see correct Bank Name & Acc. No. in Salary Slips while creating them via Payroll. However, it works fine when a New Salary Slip is created.

Please rectify this as it is not possible for us to create New  #slips for every employee individually every month.

Thanks.

[2018-05-09 18:22] ashvindx commented on #50
YTD reports are applicable in many countries. Not just tax, but they should show total earnings and deductions over the year (usually Jan to Dec, and can be different from the company's year).

[2018-05-24 10:42] Olawale1 opened #188 "Make Payment button still appears even when Expense Claim is Paid"
Hi ,

The Make Payment button still appears even when Expense Claim is Paid (against Employee Advance). Steps to replicate:

1. Create an Expense Claim against Employee Advance and allocate the full amount
2. Upon submitting the Expense Claim, status changes to 'Paid' but the Make Payment button is still there

Please fix

Kind regards,

[2018-06-01 14:05] shirsatamit opened #615 "Leave Approval & TimeSheet Feature - Auto Approval"
Issue: Feature Request

Dear Team

We want new feature in ERPNext i.e “Auto Approval”.  In some cases HOD’s and Team leader not approve employee leave or Timesheet.  System should be auto approved this after 7 days.

If you provide this feature in coming release of ERPNext it could be very easy for us.

[2018-07-10 00:03] b4oshany commented on #50
@dawoodjee did you get your method  working?

[2018-07-11 08:27] b4oshany commented on #50
I created a repository called [erpnext_ytd](https://github.com/alteroo/erpnext_ytd) to achieve this. It uses Salary Components and Salary Structure to automatically update the Salary Slip with the appropriate values.

[2018-07-21 08:24] cze-karel opened #187 "HR, Payroll: Manually added statistical salary component (Bonus)"
**Use case: **
- We have a need to manually assign a Bonus to any of the Salary Slip before submitting it
- Bonus Salary Component is defined and used in the Salary Structure (Do not include in totals, Statistical Component)
- It's used only as a statistical component to calculate the taxes and gross salary and salary payable
- Should not be displayed in the Salary Slip, however when added manuall

[2018-07-27 08:56] shirsatamit commented on #615
Hi team,

If you provide this feature it could be very easy for us.

Amit Shirsat.

[2018-07-30 08:07] shirsatamit commented on #615
Hi,

Any update on this.

Amit Shirsat

[2018-08-09 17:23] dawoodjee commented on #50
Dear Oshane

Your YTD module is great. It needs adoption into the core. Thank you!

On Wed, Jul 11, 2018 at 10:27 AM Oshane Bailey <notifications@github.com>
wrote:

--

 Kind Regards,
 Adam Dawoodjee
 +260974 638778

© 2017 Pro Enterprise Limited, Lusaka, Zambia.

[2018-08-09 18:26] b4oshany commented on #50
Thank you, Dawoodjee.

However, there are some small things that are left to do to make it
seamlessly integrated into the system without having to manually create
and/or edit DocTypes.

I'll try to get that done by the end of the week.

I'm open to suggestions and contributions.

On Thu, Aug 9, 2018, 12:24 PM Adam Dawoodjee <notifications@github.com>
wrote:

[2018-08-13 08:58] amet123 opened #186 "facing issue with earned Leave"
Check Total Present 17 + Holidays = 22 Days
without allocation after 20 days system show 0 Balance of Earned leave i add 1.5

![sheet](https://user-images.githubusercontent.com/326649/44022390-1448a7f4-9f05-11e8-9c82-1b1c1716cb3c.jpg)

![earned leave](https://user-images.githubusercontent.com/326649/44022391-14a5bdb8-9f05-11e8-9b9d-943dfc799962.png)

[2018-09-17 07:34] OneiricIT commented on #50
@b4oshany great work! If you want to automate creation of the fields with the app enter the fields you need to export in the hooks file and use export-fixtures. Example below grabs Custom fields entered as well as scripts against Salary Slip.

`fixtures = [{"dt":"Custom Field", "filters": [["fieldname", 'in', ("payment_type", "tax_file_number", "bank_bsb", "superfund", "supermembernumber", "gross_

[2018-10-12 10:31] shirsatamit commented on #615
Issue: Feature Request

Dear Team

We want new feature in ERPNext i.e “Auto Approval”. In some cases HOD’s and Team leader not approve employee leave or Timesheet. System should be auto approved this after 7 days.

If you provide this feature in coming release of ERPNext it could be very easy for us.

[2018-10-20 04:38] jigneshpshah commented on #194
So in Saudi Arabia , the Salary Calculation will take place as below.

Assumption : In HR Settings, the no of working days is fixed to 30.

in Salary Slip
Working Days will be set as 30 , irrespective of the calendar days in the month
Payment Days =  30 - LWP
Salary will be calculated based on the Payment Days

![image](https://user-images.githubusercontent.com/4900815/47251272-e8eab180-d44f-11e8-

[2018-10-20 11:39] FlexsoftsTech commented on #194
Great

[2018-10-20 11:41] FlexsoftsTech commented on #194
@mhbu50 we working on something will be great for Saudi Users, soon we will release it

[2018-10-24 06:05] ashish-greycube commented on #193
I am working on this for conf dev sprint 18

[2018-10-27 11:33] fnrfarid opened #185 "[Bug V11] Loan Repayment in Salary Slip is not working"
Loan Repayment in Salary Slip is not working.

Can't produce payment dates; and also in salary slip's loan repayment section, the installment amount isn't appearing.

[2018-11-11 07:26] jaichavan commented on #188
Hello, @Olawale1
Replicated the issue in my test account and it no longer persists in the latest version.
Please confirm the same so that we can close this thread.

[2018-11-11 13:07] Olawale1 commented on #188
Hi @jaichavan

The issue still persists...

ERPNext: v10.1.69 (master)

Frappe Framework: v10.1.59 (master)

Thanks

[2018-11-14 05:52] Olawale1 opened #184 "Show Salary Component with zero value"
Hi,

By default in ERPNext, Salary Components with zero value are not shown in the Salary Slip. A number of organizations however prefer that some components appear in the Salary Slip even when they have zero value

Please add a 'Show Zero Value in Salary Slip' checkbox in the Salary Component form where the user can choose if the salary component should be displayed or not

Thanks

[2018-12-06 04:47] ashish-greycube opened #183 "Attendance Request gets submitted on holiday and leave"
[a]An employee is on approved leave say for 5th Dec
Create Attendance Request for 5th Dec and submit it.
[b]Company has a holiday on 25th Dec
Create Attendance Request for 25th Dec and submit it.

Actual:
Attendance Request gets submitted with a popup error message and no attendance record is created
Expected:
A popup error message should be shown and  Attendance Request should not get submitted,

[2018-12-07 12:06] sajid-eycon opened #182 "Exception in datepicker."
Dear All,
I was working on erpnext version 10.xx and it was very stable and good but suddenly since last night it is throwing exception for datepicker. Moreover earlier theme of datepicker was different then what it is showing today.
When I select a date less then 12 of a month date format is correct but when I select date greater then or equal 13 it show date format error as below.
![image](https

[2018-12-08 12:41] ashish-greycube opened #181 "Attendance Request should be stopped for half day"
**Scenario**
An employee comes to office on 5th Dec for half day and then leave.
There is no leave application from him.
Create Attendance Request for half day on 5th Dec and submit it.

**Actual**:
Attendance Request gets submitted. Such that Attendance record has status='Half day' and leave_type=none
**Expected**:
When someone is on half day presence, it should be mandatory to have half day leav

[2018-12-09 15:16] clarkejj commented on #182
Hi have you also reported this on discuss.eprnext.com for review there?

That will benefit you and a wider audience for help and advice.  Please add a link here to that too.

[2018-12-10 05:37] jigneshpshah commented on #143
Part 1 of the above issue is fixed , Part 2 is pending.
### Part 1)
 Leave Application Validation  fixed by [PR#6008](https://github.com/frappe/erpnext/pull/6008)

### Part 2 )
Leave Cancellation/ Deletion for already processed payroll.

Use Case :
Employee is on approved leave from 25 Nov to 28 Nov .
In Attendance doctype , individual datewise attendance record (status= On Leave) gets created fro

[2018-12-10 06:39] ashish-greycube commented on #143
**Case** : Employee is on leave from 25th Nov to 5th Dec. Payroll is processed on 30th Nov. Employee comes back to work on 3rd Dec. So he is on actually leave from 25th to 2nd Dec.

**Present Steps**:

- Cancel leave from 25th Nov to 5th Dec. <-- No issue, leave balance are adjusted correctly
- Apply for leave from 25th Nov to 2nd Dec <-- validate_salary_processed_days() validation kicks in and st

[2018-12-12 13:17] pm-at commented on #183
Create Attendance Request for 25th Dec and submit it.

Shouldn't it be allowed when the Employee is working on a Holiday (mostly in lieu of Compensatory Leave)?

[2018-12-12 13:28] ashish-greycube commented on #183
@pm-at
Attendance Request is a feature for working days. i.e. It is a working day and an employee is asking for attendance.
So answer to your question is No
Now, if an employee turns up to work on a holiday, some companies do have the policy to give compensatory leave. In that case, an employee needs to use 'Compensatory Leave Request' form and not 'Attendance Request'

[2018-12-13 05:34] pm-at commented on #183
Ok, missed 'Compensatory Leave Request'. So apparently 'Compensatory Leave Request' is serving additional purpose of 'Attendance Request' also.

[2019-01-04 08:36] maisonarmani opened #180 "Create User Permission on Employee Page"
I noticed that when you save the employee details while the `create_user_permission` unchecked nothing happens to the already created user permissions as a result of the checking it.

This would cause accounts to have unexpected restrictions on them.

Implementation for the reversal of created user permissions is required.

[2019-02-04 08:04] inventaindia opened #179 "Expense claim version 11 description vanishes on saving the voucher"

[2019-02-12 01:08] olamide2 opened #178 "Staffing Plan not taking Department into Consideration"
I am trying to use the Staffing Plan feature in the HR Module.

I noticed that the Staffing Plan does not take the Department filter into consideration and it should.

For example we have the designation "Cleaner"" and we have 5 Departments

We need to have one cleaner in each department. meaning 5 Cleaners in all.

If I try to set up the staffing plan for Department A and state that the number of

[2019-02-24 05:17] mahdihb opened #177 "employee party"
Hi,

I have created employees but when I create payroll entry and salary payslip, no entry is posted. Also, I cant find employees when I select creditors/employees party.

Please help me how I can fix this issue..

Thanks,

[2019-02-28 08:32] adfluidics commented on #179
Same problem here

[2019-02-28 14:40] psw1209 opened #176 "I do not want Leave without pay to be deducted directly in salary base and variable"
I do not want leave without pay to be deducted directly in base salary and variable.

I want it to be calculated and amount to be shown in deduction.

Thank you to assist me in this

[2019-03-05 10:50] Mohd200 opened #175 "Payroll From Multiple Companies"
Good Day Everyone,
I’m facing an issue about Payroll.

Payroll (TimeSheet-based) on Different Companies Case Scenario:
An employee starts working on Company A from the start of the month, and continues working for 10 days, each day has its own TimeSheet.
Then, the Employee gets transferred to another company called Company B, works for the rest of the month, each day has its own TimeSheet as well.

[2019-03-06 07:20] dulhaver commented on #175
I think I did advise you to post an issue here on the forum. However your issue seems to be exactly the same as the Forum Topic and at the end you're even asking for support.

The issues here are to report bugs or feature requests, so developers can fix things. To do this efficiently a certain way of things is required. Can you check your issue against the [issue guidelines](https://github.com/fra

[2019-03-07 11:41] rmehta opened #174 "Birthday Reminders to selective users"
Birthday reminder configuration to send to a particular email id. In case of larger orgs, it does not make sense to send birthday reminder to everyone.

[2019-03-07 15:59] wojosc commented on #174
Very good! We have turned off Birthday reminders for now, as these were also sent to supplier contacts which is a little difficult with personal data protection.
Would be good to be able to select groups for reminders.

[2019-03-28 05:00] sammish commented on #188
@jaichavan

The issue still persists...

ERPNext: v11.1.16 (master)

Frappe Framework: v11.1.16 (master)

Thanks

[2019-04-09 07:29] dulhaver commented on #212
I think this falls short when limiting this to "Expense Claims".
The Party "Employee" generally should be multi-currency.

So "Expense Claims" as well as "Salary liabilities/Payments" need to be multi-currency.

This is on one hand because there are use cases for this to work and also because it's not logical to treat Employees different then Suppliers in this regards. Both parties deliver somethi

[2019-04-24 04:43] aakvatech commented on #176
This will mean that the Basic Salary component will not be affected, but mind you all formula of other earnings that depend on base and also depend on the lwp will also need to be updated.

Your requirement can be easily acheived by not ticking Depends on Leave with pay in Basic Pay.

base is anyways not affected by lwp, its the "Basic Salary" component that is affected if you tick "Depends on Lea

[2019-04-24 05:03] aakvatech opened #173 "Salary Structure changes for earnings and deductions too rigid"
After v11 the Salary Structure cannot be changed while retaining the salary assignment. Meaning that after cancelling and amending salary strucuture all employees base pay has to be set (one by one if each of them have a different salary structure) and recreate the assignments.

I believe that there is an easy way to allow changes to Salary Structure by having below five fields to be allow_on_subm

[2019-04-24 05:20] dulhaver commented on #173
if you mean the behavior mentioned would also be responsible for the fact that submitting a Salary Slip does **not** create any liability in the accounting (which I think is the behavior this discussion and your solution is based upon [correct me whether I am wrong]) I'd +1 for this.

That being said ... due to the (in my eyes) misbehavior of Salary slip not creating liability, I have never gone d

[2019-04-25 13:32] dawoodjee commented on #50
Have you had any success with Employers contribution?

[2019-04-29 04:21] aakvatech commented on #194
What will happen to an employee who has not come for the month of February 2019? Will he get paid for 2 days since 30 - 28 = 2?

Similary, what if the person takes leave in January 2019, will he have to pay the company for 1 day for not coming to office? 30 - 31 = -1?

[2019-05-01 05:00] b4oshany commented on #50
Noted, I will try and work on it. I've been caught up with a lot of work.

The YTD package also does this, although, I haven't tested it in complex situations like automated payroll

[2019-05-03 20:38] aakvatech commented on #185
It's working as of now v11.1.25 for me

[2019-05-04 00:29] joogletech commented on #50
Hi this is already done. I share the git line for you to install in erpnext.

[2019-05-04 03:00] joogletech commented on #50
Link to the repo: https://github.com/jvfiel/customERPNextHR

How to Install
1.	bench get-app payslip_app https://github.com/jvfiel/customERPNextHR.git
2.	bench --site your.site.name install-app payslip_app

[2019-05-14 07:08] FikirYibeltal opened #172 "there is no half day option for holidaylist"
our company have a half-day work on saturday. currently for leave application we are manually making each saturday half-day. can you add a feature to automate this

[2019-05-21 02:13] dcanul commented on #188
The issue still persists...

ERPNext: v11.1.30 (master)

Frappe Framework: v11.1.28 (master)

[2019-06-04 08:56] ishanloya opened #90 "Incorrect figures in Salary slip generated via payroll entry"
For Salary Slips generated via the payroll entry tool, the earnings and deduction amounts are not being calculated correctly when the number of working days is not equal to the number of payment days. One has to manually go to the salary slip and save it again for the calculation to update.

[2019-07-03 14:22] sjoulaei opened #171 "Add 'Weekly' option to Earned Leave Frequency List"
In Australia, we have many companies that pay their salaries in a weekly basis. ERPNext currently supports weekly pay slips.
All entitlements should be calculated at the same time of pay slip generation.

The only issue would be the number of weeks in a year. I think we can assume years to be 52 weeks?

[2019-07-18 12:37] michellealva opened #91 "Does not fetch Annual and Monthly HRA Exemption if Formula is set in Salary Structure"
Annual and Monthly HRA Exemption amounts are not fetched in "Employee Tax Exemption Declaration" form if Formula is set in Salary Structure for various Salary Components. However, if direct amount is specified for each salary component, Annual and Monthly HRA Exemption amounts are fetched.

Steps to replicate:
 1. Create an employee, salary structure (with formula only), assign salary structure to

[2019-07-31 04:47] michellealva commented on #91
@Anurag810 any progress?

[2019-10-07 09:10] ishanloya opened #170 "Cannot cancel Compensatory Leave Request"
I'm unable to cancel a compensatory leave request:
"Not allowed to change New Leaves Allocated after submission"

If I try to cancel the Leave Allocation that was generated from this request, that doesn't work either since it says that it is linked to the compensatory leave request

[2019-10-07 09:34] ishanloya commented on #170
Maybe the New Leaves Allocated field in Leave Allocation needs to be 'Allow on Submit'?

[2019-10-27 06:47] JaneshP commented on #180
I got it working by removing the User ID under Employee ->ERPNext user and saving it. Then again entered the User ID and saved it this time without selecting "Create User permissions" it started working. This seems to reset the permissions.

[2019-11-18 07:11] ishanloya commented on #170
Anyone else facing this issue?

[2019-11-29 09:09] Olawale1 opened #92 "Payroll Entry screen freezes after creating Salary Slips"
Hi ,

The Payroll Entry screen freezes after creating Salary Slips and the message below can be seen in the console sidebar
[code]
Kindly help fix

Thanks

[2019-12-05 02:34] karthikeyan5 commented on #198
@Absmachine , Do you still have a similar requirement? Does using the 'Employee Checkin' (introduced in v12) document to capture IN/OUT times and using [Auto Attendance](https://erpnext.com/docs/user/manual/en/human-resources/auto-attendance) (introduced in v12) and Grace Period setting to mark attendance and late entries help your use case?

[2019-12-06 13:52] kennethsequeira commented on #170
@Anurag810 please update status.

[2019-12-23 12:12] wojosc opened #13 "Half Day in Holiday List"
Hi @Anurag810

**Is your feature request related to a problem? Please describe.**
When creating a Leave Application half days are not read from Holiday List as they do not exist there. I Holiday List I can not set half days.

**Describe the solution you'd like**
In Germany it is common to give employee a half day leave on Christmas Eve and New Years Eve. Would it be possible to implement a checkbo

[2020-01-02 09:31] ishanloya commented on #170
Any progress on this?

[2020-01-08 13:42] jaqobk opened #93 "Expense claim Submit issue"
Hi Guys,

Am report a possible bug with the version-12.xxx where by I have created the expense claim but cant submit it and I have set the cost center in that expense claim doc and also at the company default but every time I try it says that ;

**

**

Kindly help so that I can be able to use the system without any issues.
I have attached the image

![submit issue](https://user-images.githubuserc

[2020-02-05 19:54] hassan-youssef opened #94 "Salary Slip not Verification Salary Component Do Not Include in Total"
Welcome to ERPNext issue tracker! Before creating an issue, please heed the following:
## Steps to reproduce the issue

1.Journal Entry and Salary Slip not  Verification Do Not Include in Total
and not Verification Additional Salary
Salary Slip

[2020-02-10 10:30] hassan-youssef opened #95 "Payroll Entry Submit Salary Slip Please set default account in Salary Component Why Salary Component Statistical Componen and Do Not Include in Total"
Payroll Entry Submit Salary Slip Please set default account in Salary Component Why Salary Component Statistical Componen and Do Not Include in Total  and Journal Entry  error if set default account .

[2020-02-10 11:12] BernMaina commented on #94
I have also encountered this issue where the salary components are not being validated correctly based on the conditions set.

See below:

https://discuss.erpnext.com/t/multiple-conditions-on-salary-structure-with-a-single-formula/57214

Kindly check and revert

[2020-02-11 08:12] onlinebizsoft opened #169 "create individual page and support google schema for job opening"
**Is your feature request related to a problem? Please describe.**
Right now, we have a page under /jobs for listing all jobs opening, it is a long page and there is no way to share a specific job

**Describe the solution you'd like**
We should implement individual page for each job opening and we also support google schema type JobPosting because this is really helpful to rank this page higher in

[2020-02-25 20:36] Olawale1 opened #97 "Status not showing in Employee Advance list view [V12]"
Hi ,

The Employee Advance List View does not show the Status field (Paid, Unpaid etc), instead, it shows Document Status (Draft, Submitted, Cancelled). I also noticed the employee_advance_list.js file seems to be missing in V12

Hope this can be fixed asap

Thanks

[2020-05-11 16:16] barredterra opened #149 "Calendar drag and drop does not work correctly"
Drag and drop in Calendar View does not work correctly.

For example, create a **Shift Assignment**, switch to Calendar View and try to move it by a couple of days. It never lands were it was dropped. First, it appears to be dropped one day before. But actually the date is set to one day later.

![calendar_view](https://user-images.githubusercontent.com/14891507/81585606-b2b7ae80-93b4-11ea-890b-fc

[2020-05-17 08:39] Ponyooooo opened #98 "Fields with User Permission"
## Description of the issue
 Employee has a User Permission on Employee as Doctype Type. So whenever an employee creates a leave application, his/her Employee name/ID will be automatically set on the Employee Link Field.

This is the correct way and also you the system will not show the list of employees to select. However, I noticed and experienced that for example, you have an Employee ID auto s

[2020-05-18 16:55] clarkejj commented on #98
"you can just edit it to HR-EMP-00015 and the system will automatically fetch the other details for that employee"

"I think the system should still not proceed to provide the information since the employee have no user permission to other employee documents."

Indeed this probably needs investigation, for say an explicit test to detect and prevent this violation?

[2020-05-18 20:01] TurkerTunali commented on #98
I agree.

[2020-08-09 10:40] hanztura opened #99 "The arrangement/order of columns in a custom report are going back to default after adding new columns via "Pick Columns""
## Description of the issue
We’ve noticed that once we have arranged the columns in a salary slip report to our liking and added a column using ‘Pick Columns’, the arrangement of all the columns returns to it’s original order. The user has to do another arranging of columns again.

## Steps to reproduce the issue

1. Create a custom report and save it.
2. Only show columns ID, Employee, Department

[2020-08-12 22:54] gwhitney commented on #93
I have encountered a bug sufficiently similar that I am just mentioning it here rather than opening a potential duplicate. In my case, I have Cost Centers as mandatory for P&L accounts but not for Balance Sheet accounts. Thus, generally Expense Claims have no Cost Center (on the liability side) but there are Cost Centers on the Expense line items. However, when there is an Expense account on an Ex

[2020-09-04 11:55] TrumanCF01512 opened #100 "HALF DAY in TOTAL HOLIDAY (weekly off-holiday list), TOTAL WORKING DAY (salary slip), and MAX LEAVES ALLOWED (leave type)"
Hello, sorry for a long report.

But all these issues are with each other so please have a look:

**1) HALF DAY WEEKLY OFF in TOTAL HOLIDAY ISSUE:**

- Our company have sunday and only HALF SATURDAY as weekly off (it means total holidays = 1,5 days (as weekly off)
I also have created new Holidays doctype (table) with "half day" check
![image](https://user-images.githubusercontent.com/68537754/9207

[2020-09-04 13:50] ECInfo007 opened #101 "Employee salary issue when join at mid-month v12"
The employee is joining in mid-month in 17-Aug-2020 however erp calculate full month salary for that employee.
Is there any need seperate salary structure for such a employee?

How can rid of this issue?

Thank in advance

[2020-09-22 10:36] Helkyd opened #102 "V12 HR Earning Statistical Component cannot be referred to in Deductions"
As per the link
https://discuss.erpnext.com/t/v12-hr-statistical-component-shows-on-salary-slip/66119/2?u=helio_jesus

The issue is that if you have a component as Statistical_component on EARNINGS this will not be calculated on DEDUCTIONS.
So you will need to copy the formula from EARNINGS and create another components as Statistical_component but type as DEDUCTION and add the formula ....
What i

[2020-10-04 11:45] gsbaig commented on #92
I am also facing same issue, when submit created salary slip via payroll entry the console give this error.

[Violation] 'load' handler took <N>ms
jquery.min.js:4 [Violation] 'load' handler took 159ms
jquery.min.js:4 [Violation] 'load' handler took 175ms
jquery.min.js:4 [Violation] 'load' handler took 218ms
jquery.min.js:4 [Violation] 'load' handler took 206ms
jquery.min.js:4 [Violation] 'load' ha

[2020-10-05 16:14] Olawale1 commented on #92
Hi @gsbaig

What version of ERPNext are you on ?

Kind regards,

[2020-10-12 09:41] gsbaig commented on #92
12

[2020-10-20 23:07] yhennie opened #103 "Version 13 Date and Time type becomes undefined output when save or submitted"
## Description of the issue

Date and Time type when saving becomes like this e.g as per the date 10/01/2020 and as per the time it becomes like this udneffiue
![Untitled](https://user-images.githubusercontent.com/61680603/96653576-fb17c700-136b-11eb-9316-bf01e72db421.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

##

[2020-11-18 07:25] sammish opened #104 "Version-13 : "Is Recurring" in "Additional Salary" that " Is Recurring not updating""
If we assign employee advance as "is recurring"  in "additional salary". first recurring updating the "employee advance" as "Returned Amount" then second recurring onward not updating in "employee advance" as "Returned Amount".

![image](https://user-images.githubusercontent.com/12432802/99494914-dae72200-2982-11eb-80b0-c63c1f46ca5a.png)
![image](https://user-images.githubusercontent.com/12432802/

[2020-11-18 07:28] sammish commented on #104
@Anurag810 Kindly check this

[2020-11-20 19:55] josmeldiaz commented on #102
In fact is a bug. facing the same error here!

[2020-11-23 17:55] josmeldiaz opened #1377 "Earning Statistical Component can't be used in Deductions on formulas / Additional Salary is not working on formulas"
The issue comes when we create an statistical component on earnings, the abbreviation cant be used in deduccions.

The second issue comes, when we set an additional salary, it wont work on formulas.
examples here:

[https://discuss.erpnext.com/t/statistical-component-and-additional-salary-issue-v12/68035/2](https://discuss.erpnext.com/t/statistical-component-and-additional-salary-issue-v12/68035/2

[2020-11-26 04:12] centaur78 opened #105 "Leave policy assignment patch error"
hi @Anurag810 & @nabinhait

Got the below error while bench updating ... PR frappe/erpnext#23112

[code]

[2020-12-02 06:40] sammish commented on #104
@Anurag810

Returned Amount not updating even we cancel the entry (Deduction from salary)

[2020-12-03 14:54] theopen-institute opened #106 "Payroll: Salary Slip throws error if dates span two Payroll Periods"
## Description of the issue
In current versions of ERPNext, Salary Slip will throw an error if the slip accounts for a period of time extending beyond a single Payroll Period.

## Steps to reproduce the issue

1. Create a Payroll Period with a start and an end date.
2. Create a Salary Slip with start and end dates that are both inside and outside the Payroll Period.
3. Attempt to save Salary Slip

[2021-02-02 06:39] sjain17 opened #107 "Expense claim payment don't consider taxes and charges while making payment."
## Description of the issue
While making payment using Journal Entry against an expense claim, system is not considering the taxes and charges into Total Sanction Amount and it leaves the expense unpaid.

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Create an expense claim with any expense type and add taxes and charges in the

[2021-02-23 09:56] harishalwar9 opened #108 "Grant Leave via Leave Policy Assignment is not calculating earned leaves - v13"
## Grant leaves is not allocating earned leaves prorated

## v13.x.x-develop (docker image) hosted in our server and v12.16.2 (locally)

**Output of `bench version`** of **localhost**
[code]
**Output of `bench version`** of **docker image**
[code]
## Steps to reproduce the issue (docker image)

1.  Set any leave type as earned leave. I set Privilege leaves as 1.5 leaves / month, Sick leaves 0.5 /

[2021-03-06 12:48] wojosc commented on #13
@reggaetuna schau mal ob Du sowas schon lösen könntest :)

Wichtig ist natürlich auch die Funktion dahinter. Aber schritt-für-schritt versteht sich

[2021-03-12 08:19] reggaetuna commented on #13
@wojosc  Habe das gestern mal angeschaut, halbe Urlaubstage sind schon drin, jedoch immer nur einer pro Zeitraum. Könnte mehr Felder für halbe Urlaubstage hinzufügen, falls das aber in Code auf >1 festgelegt ist also max 1 halber pro Urlaubsbuchung müsste man das direkt im ERP_HR_Doytype_Holiday ändern und als branch übernehmen, für zukünftige Updates.

Liebe grüße

[2021-03-12 08:36] wojosc commented on #13
@reggaetuna da gehts um was anderes. Was du beschreibst passiert glaub im Urlaubsantrag. Das funzt.

Mir gehts aber um die Urlaubsliste.

Hintergrund: Der 24. und der 31. werden in vielen Betrieben als halbe Arbeitstage bewertet, sprich auch als halbe Urlaubstage wenn ich diesen nehmen.

Die Urlaubsliste in ERPNext beschreibt alle Tage an welchen kein Urlaub genommen werde muss, damit die Urlaubsa

[2021-03-12 08:44] reggaetuna commented on #13
ah alright i got i now. Schau ich mir an. Danke

[2021-03-12 09:22] harishalwar9 commented on #108
Manually allocated leaves (via leave allocation) is calculating pro-rated leaves after 2 months. However Grant Leaves is still not doing so. Kindly advise

[2021-03-26 10:16] Olawale1 opened #858 "Marking an Employee as LEFT should automatically disable their User ID"
Hi ,

There should be an option in HR Settings where we can decide to automatically disable User ID once an Employee is marked as 'Left". Please see relevant discussion here:

https://discuss.erpnext.com/t/hr-employee-left-should-disable-userid/50037

Thanks

[2021-03-31 10:46] pateljannat commented on #108
@harishalwar9  can you share the screenshot of the Leave Policy Assignment as well

[2021-03-31 11:02] harishalwar9 commented on #108
Thanks @pateljannat Attached is the screenshot of leave assignment
![image](https://user-images.githubusercontent.com/79510211/113134612-a5aae480-923e-11eb-99a9-4db9e1f09465.png)

[2021-03-31 12:40] pateljannat commented on #108
@harishalwar9 I am unable to replicate the issue on version 13. Sharing the steps that I followed. Let me know if I did something different.

1. Created Leave Period for the Financial year 2020-2021

![Screenshot 2021-03-31 at 5 40 43 PM](https://user-images.githubusercontent.com/31363128/113144001-67b3bd80-924a-11eb-8f5c-e4d9ada414d8.png)

2. Created Leave Policy

![Screenshot 2021-03-31 at 5 53

[2021-04-07 14:15] buff0k commented on #858
Perhaps better solution will be a prompt to choose to do so when user is marked as left?

[2021-04-08 09:24] harishalwar9 commented on #108
@pateljannat Steps carried out is fine, I am talking about prorated leave allocation which should happen every month automatically based on leave type for the leave period. If you look at my example, the leave period is from **01-01-2021** till **31-12-2021** with 1.5 Leaves per month for Privilege leave type. So by end of March 2021, it should have automatically allocated **4.5 leaves** (1.5 for

[2021-04-14 10:27] pateljannat commented on #108
@harishalwar9 I think this PR will solve the issue
https://github.com/frappe/erpnext/pull/25334

[2021-05-01 18:04] jryandechavez commented on #107
Encountered same issue, Grand Total should be the sum of Expenses Sanctioned amount + Expense Taxes and Charges

[2021-05-06 07:51] onlinebizsoft commented on #108
@harishalwar9 can you confirm if the issue solved?

[2021-05-06 07:58] harishalwar9 commented on #108
I using a docker image. For me to take the PR, I have to migrate from docker and install the source code and then take the pull.  I have not tried this yet.

[2021-05-06 09:59] nikhilponnuru opened #109 "Document events are not triggered for attendance doc when attendance is updated by leave application"
## Description of the issue

Consider a situation where attendance is marked absent for a particular day but later a leave application is applied for that day and hence it's attendance status is updated to 'On Leave' from 'Absent'. Now this updation to attendance is not triggering doc events like `on_update`, `before_save` etc.

Those doc hooks are used for pre- and post-attendance operations like

[2021-05-11 12:51] nikhilponnuru opened #14 "Half day attendance and leaves are not covering all possible cases."
## Description of the issue

Consider the following cases which ERPNext doesn't cover

1. A half day attendance is marked (via half day leave application) and for rest of the day employee checked in and out (say log in, out via biometric device).
2. Vice versa of above case.
3. A half day leave is taken but rest of the half day employee didn't work and hence is marked absent based on shift
4. Vice

[2021-05-27 14:38] ChandrahasMuvvala commented on #14
Agree, half day is not well handled. A lot of manual reconciliation is being done by HR wrt leave applications and employee checkin records in our implementation.

[2021-06-19 10:41] jigneshpshah opened #286 "bug: incorrect get_monthly_earned_leave for earned_leave_frequency other than monthly"
Use Case :
Annual Leaves : 8
Earning Frequency : Quarter

Current Behaviour : get_monthly_earned_leave calculates  below as  8/4 = 2 , which is incorrect.
https://github.com/frappe/erpnext/blob/095048125318814f2c0c36cf49942b7b90879f67/erpnext/hr/utils.py#L353

Expected Behaviour : get_monthly_earned_leave should calculate  = 8/4 =2/3 = 0.66

[2021-06-21 06:38] pateljannat commented on #286
`8/4 =2/3 = 0.66`

@jigneshpshah can you please explain this

[2021-06-21 06:55] jigneshpshah commented on #286
Leave Type = Sick Leave
Earned Frequency = Quarterly
Annual Allocation = 8
Which means every quarter 2  leave should be credited.

Leave Policy: 8  AnnualSick Leaves

So if we do a leave allocation on 20thJune 2021 for leave period Jan to Dec 2021 via leave policy assignment it should assign 4 leaves.

Current Behaviour : The leaves which are allocated is 10 (it allocates 2 per month 5x 2)

Expect

[2021-07-12 13:24] sjain17 commented on #107
Any luck on issue?

[2021-07-22 07:44] weembe opened #140 "Amended Expense Claim have 0 sanctioned amount"
## Description of the issue
Hi, when expense claim  on HR module is cancelled and amended, all sanctioned amount in the table become zero. I believe it is expected to be defaulted to original value before cancelled.
## Steps to reproduce the issue

1. Create expense claim, fill in expenses table.
2. Submit, cancel, amend.
3. Save amended document

### Observed result
Sanctioned amount become zero

[2021-09-06 14:05] mojuneja opened #5 "Not allowed to change Total Leaves Allocated after submission (#3042)"
Getting the validation error while cancelling leave allocation "Leave allocation HR-LAL-XXXX-XXXXX is linked with leave application HR-LAP-XXXX-XXXX1, HR-LAP-XXXX-XXXX2, HR-LAP-XXXX-XXXX3, HR-LAP-XXXX-XXXX4, HR-LAP-XXXX-XXXX5, HR-LAP-XXXX-XXXX6".

I should be able to cancel the Leave Allocation record (without cancelling the leaves applied) and modify the record.

ERPNext: v12.5.2 (version-12)
Fra

[2021-09-16 05:39] tjomtek opened #112 "Auto Report Email - Monthly Attendance Sheet"
## Description of the issue
When setting up an auto email report for - employee attendance, the system wants year but does not drop down to show any years.
![EmployeeAttendance](https://user-images.githubusercontent.com/77873407/133556522-892a5316-eb3d-40f5-964c-923b247a987c.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.Nav

[2021-09-22 07:49] bhavesh95863 commented on #112
In that report, the year option is set during on load event.

[2021-09-23 07:51] tjomtek commented on #112
Thanks For Looking at this , however I have tried to logically think of what "load event" would this report be waiting for ?
I have marked the attendance report , then reviewed the monthly attendance sheet and now trying to create a auto email report.
What "load event" is it looking for ...

[2021-10-22 11:20] zongo811 opened #113 "Employee: Value Change on contract_end_date firing every time"
## Description of the issue
I created a Notification which listens on Value Changes of contract_end_date, because I want to get notified on changes in this field. Unfortunately the notification is created on every change in Employee, even when contract_end_date is not changed.

For testing purpose I created a similiar Notification which listens on value changes on last_name. This notification is o

[2021-11-03 08:46] elan-k commented on #181
We can limit the access to the create action in attendance doctype.

I hope.., attendance doctype access is to be given to HR or Reporting Manager only. Not for every employee.

So that employees can only report their leaves on the system and the employer can track the employee attendance through Biometrics Or Timesheet Entries.

[2021-11-10 04:55] pushkarjsh88 opened #6 "Improve Salary Registry Report in HR"
<h3 style="font-style: normal; font-variant-caps: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; text-decoration: none; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);"></h3><ul style="font-style: normal; font-variant-caps:

[2021-11-10 05:00] pushkarjsh88 opened #7 "Roster Management and Shift Planning"
_**Problem Statement:**_

Enhancing the current shift management feature to a full-fledged roster management solution.

Roster Management is used highly in Retail environments which runs across multiple shifts and manages hundreds of employees.

ERPNext has the tools with shift management. The needs is to provide a little more abstraction and tooling.

**_Expected Solution:_**

- Enhancement of th

[2021-11-17 12:54] pushkarjsh88 commented on #14
Can we get more use cases pertaining to same?

[2021-11-18 12:32] santoshbb opened #11 "Employee is not selecting for Employee Advance deduction ledger in Journal Entry against Payroll Entry submission"
## Description of the issue

In general, if there is an Employee Advance for an Employee and if the advance is deducted from salary, in the Journal Entry of Payroll Entry submission, the Employee will be selected against the Employee Advance as shown in below picture

![image](https://user-images.githubusercontent.com/10789840/142418290-30a1aa62-9be3-4e16-b969-3e1b7b44f4cc.png)

but it is not sele

[2021-12-02 04:37] Shantanu-mishra opened #114 "ImportError: Salary Slip"
Traceback (most recent call last):
  File "/home/sysadmin/erpnext1/frappe-bench/apps/frappe/frappe/desk/form/load.py", line 35, in getdoc
    doc = frappe.get_doc(doctype, name)
  File "/home/sysadmin/erpnext1/frappe-bench/apps/frappe/frappe/__init__.py", line 877, in get_doc
    doc = frappe.model.document.get_doc(*args, **kwargs)
  File "/home/sysadmin/erpnext1/frappe-bench/apps/frappe/frappe/mo

[2021-12-10 18:47] chrisdent opened #152 "Deleting transactions of company deletes more than transactions"
### Information about bug

For example:

Deleting transactions of company deletes these configurations as for example:

- Salary Structure
- Payroll Period
- Income Tax Slab
- Departments in HR
- Accounting period

Thanks!

### Version

v13

### Module

accounts, HR

### Version

ERPNext: v13.16.1 (version-13)
Frappe Framework: v13.16.0 (version-13)

### Installation method

manual install

### Re

[2021-12-15 08:50] mubi64 opened #12 "Ability to mark Late Entry or Early Exit from Employee Attendance Tool"
**Is your feature request related to a problem? Please describe.**
One of my client mark his employees attendance manually from Employee Attendance tool, but he is unable to mark Late & Early exit employees from this screen. He has to go to the Attendance screen and add attendance docs manually one-by-one for all the late or early exit employees.

**Describe the solution you'd like**
3 new buttons

[2022-01-14 01:55] charleslcso opened #115 "Salary Slip Basic Amount in Earnings will change when adding new Component manually"
### Information about bug

Basic Amount is computed using Formula. Amount is correct.

We manually add another Earnings Component, and upon entering an amount, you will see the Basic Amount is automatically changed. The value changed from the formula computed amount to Total Working Hours * Hour Rate.

Correct amount $667.98 computed using formula
![Correct](https://user-images.githubusercontent.c

[2022-01-18 07:16] sharmanakul commented on #114
hey @D347HG0D, were you able to find a solution?

[2022-01-21 12:52] zongo811 commented on #113
Bug seems to occur whenever a field of type "Date" is used as trigger.
Workaround:

Use Customization to create a new field "contract_end_date_check" of type Data, activate "Hidden" in Options.

In Notification use "contract_end_date_check" as "Value Changed"-trigger.

Edit Client Script for Employee-Form:
[code]
Thus "contract_end_date_check" gets updated when "contract_end_date" is changed. The

[2022-01-25 01:57] charleslcso commented on #115
Not a bug?

[2022-01-25 02:07] charleslcso opened #116 "Salary Slip Month To Date amount is wrong"
### Information about bug

Month To Date amount in Salary Slip is just the Net Pay amount, not calculated by the month.
![Screenshot 2022-01-25 at 10 06 45 AM](https://user-images.githubusercontent.com/520537/150897493-af87c91b-b6f3-424e-86e8-428f492d6e09.JPG)

### Module

other

### Version

ERPNext 13.18
Frappe 13.18

### Installation method

manual install

### Relevant log output / Stack trace

[2022-01-25 02:35] charleslcso commented on #116
I'll do a PR later. But here is a quick fix.

	def compute_month_to_date(self):
		month_to_date = 0
		first_day_of_the_month = get_first_day(self.start_date)
		last_day_of_the_month = get_last_day(self.start_date)
		salary_slip_sum = frappe.get_list('Salary Slip',
			fields = ['sum(net_pay) as sum'],
			filters = {'employee' : self.employee,
				'start_date' : ['>=', first_day_of_the_month],
				#

[2022-02-01 07:07] sharmanakul opened #8 "UI: validation for changing Pic for en employee connected with now disabled user."
### Information about bug

1. Create a user
2. create an employee
3. Link them
4. Now diable the user
5. In employee profile, upload picture.
6. Message is displayed that 'the user <user_name> is disable.'

Problem: this message appear after the user has selected and uploaded the photo. Although the profile isn't saved, but the uploaded picture appears in the placeholder.

### Module

HR

### Vers

[2022-02-01 07:16] sharmanakul opened #9 "Employee profile pic is not reflecting in the corresponding user profile"
### Information about bug

1. Create employee
2. Create user
3. link them
4. Upload a pic for employee
5. go to the corresponding user profile, pic is displayed
6. go back to employee master, and upload a new pic
7. go to user profile, still the old pic is displayed

### Module

HR

### Version

v13.19

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Mess

[2022-02-01 07:20] sharmanakul opened #10 "Employee profile pic is not getting removed"
### Information about bug

1. Create employee
2. Create user
3. Connect them
4. Employee master - upload profile pic
5. user profile - Disable and Save, and then Enable and Save
6. go back to Employee master - remove pic

the picture is not removed.
![employee pic is not changing](https://user-images.githubusercontent.com/88872881/151927519-b5107fa8-1ebe-4fda-96d7-43a419826f62.gif)

### Module

HR

[2022-02-01 07:22] sharmanakul commented on #10
i think this is a very rare use case.

[2022-02-01 07:53] ankush commented on #10
https://github.com/frappe/erpnext/blob/f026ec6badba4eba16d99355c2918dcc8a6996f3/erpnext/hr/doctype/employee/employee.json#L179-L187

This appears to be intentional. You can override it but can't keep it empty if the user doctype has image.

[2022-02-01 08:03] sharmanakul commented on #10
then the action button 'remove' should be removed. 😁

[2022-02-02 10:36] wojosc opened #117 "Permissions not fully set for calendar view"
Hi All,

when working in the HR Modul as an employee I will wan’t to be able to create Leave Applications for my self. As an HR Manager also for others who might not have an account on the ERPNext instance. This all works as far as I can see. As an employee you will have a User Permission limiting you to your own data.
This works fine for list view and does the job. Same accounts for the report vi

[2022-02-03 05:20] surajshetty3416 commented on #117
A custom method is used while loading Leave Application calendar data.
[code]
So this needs to be handled in ERPNext.

[2022-02-18 09:01] onlinebizsoft commented on #169
Feature requested

[2022-03-04 17:23] barredterra opened #118 "TypeError in Employee Billing Summary"

[2022-03-04 17:23] barredterra opened #281 "TypeError in Employee Billing Summary"
### Information about bug

#### Reproduce

1. Open the report "Employee Billing Summary"
2. Select an Employee

#### Error

TypeError: '<' not supported between instances of 'NoneType' and 'datetime.datetime'

See Stacktrace below

### Module

projects

### Version

ERPNext: v13.21.0 (version-13)
Frappe Framework: v13.21.0 (version-13)

### Installation method

manual install

### Relevant log out

[2022-03-21 04:21] Shantanu-mishra commented on #114
@sharmanakul There was problem during upgrade before i didn't knew much about ERPNext so i made few errors in upgrading. Previously i used to customize directly on core which is wrong. which cause some problems in upgrading.

[2022-03-21 21:28] santoshbb commented on #11
any update?

[2022-03-27 11:36] saurabhnandu opened #119 "Auto Attendance marks Absent even though Absent Threshold set to Zero."
### Information about bug

I have configured a shift and enabled auto attendance in the shift. It is working fine and correctly picking up entries from the biometric device and marking attendance. But there is one issue, even though I have set the field "Working Hours Threshold for Absent" to zero, it still marks Absent for employees for whom there are no records from the biometric device.
From th

[2022-03-29 06:47] charleslcso commented on #115
Hi Maintainer Team, have u got a chance to take a look at this?

[2022-03-29 06:47] charleslcso commented on #116
Hi Maintainer Team, have u got a chance to take a look at this?

[2022-04-04 06:41] wojosc commented on #117
keep open

[2022-04-09 20:42] katmaterials opened #120 "Wrong calculation on salary slip"
### Information about bug

Earnings are not added correctly on salary slips. Earnings added in the salary structure are the only ones that are calculated. Earnings added later during payroll making are not added to the sum. Same goes for deductions.Only deductions in the salary structure are calculated. Deductions made later on salary slips upon making the payroll are not reflected on the salary s

[2022-04-11 07:46] Lismaa commented on #281
Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 68, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 55, in handle
    return frappe.handler.handle()
  File "apps/frappe/frappe/handler.py", line 31, in handle
    data = execute_cmd(cmd)
  File "apps/frappe/frappe/handler.py", line 68, in execute_cmd
    return frappe.call(method

[2022-04-11 07:53] Lismaa commented on #281
Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 68, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 55, in handle
    return frappe.handler.handle()
  File "apps/frappe/frappe/handler.py", line 31, in handle
    data = execute_cmd(cmd)
  File "apps/frappe/frappe/handler.py", line 68, in execute_cmd
    return frappe.call(method

[2022-04-11 10:52] beingeek opened #121 "Leave policy assignment based on joining date only considering past 12 months period"
### Information about bug

I tested Leave policy assignment based on joinong date for an Employee who's joining date was more then 3 years ago (40 months), but months_passed calculated were only 5 months. Because of this line:

https://github.com/frappe/erpnext/blob/v13.21.1/erpnext/hr/doctype/leave_policy_assignment/leave_policy_assignment.py#L129

![image](https://user-images.githubusercontent.c

[2022-04-11 16:39] JRiesgo-05 commented on #117
Isn't this wasting the effort of user permission tho if we need to reapply it to this method. Just saying.

@surajshetty3416

[2022-04-16 08:45] JitendraSAW opened #122 "Payroll Entry is not getting created Employee wise Breakup"
### Information about bug

Step-1:- We have created the Payroll Entry as below

![image](https://user-images.githubusercontent.com/80260184/163668204-2dc50b73-5f3a-4341-a78e-1a1e427d4f43.png)

Step-2- We have submitted the Salary Slip as below.
![image](https://user-images.githubusercontent.com/80260184/163668241-180ab677-22ae-4a74-9c0e-adeb6f211e13.png)

![image](https://user-images.githubusercon

[2022-04-19 05:26] JigmeDorji commented on #121
Hi

[2022-04-19 08:17] beingeek commented on #121
Hello @JigmeDorji

[2022-04-26 10:49] wojosc commented on #14
We have also run into this issue.

A similar case is, when "Mark Attendance" has been run and Employee Checkins are created after the Attendance has been marked.

Maybe it would be possible to have a kind of "Attendance Reconciliation Tool" over which Employee Checkins could be cleaned and matched even after the Shift has been marked.

We would need to give the "Attendance Reconciliation Tool" the

[2022-04-26 11:16] wojosc commented on #198
quite a lot a the required features should be covered in the meantime:
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/22279621/165287929-8a338ca6-b069-4d13-9906-4934eaf9fb16.png">

What is not covered is a "Late Reason" described in the initial Issue. This could be difficult as the system is also fed by biometric devices on which such function might not be accessable

[2022-05-05 06:13] zongo811 opened #644 "Leave Application: notify_employee() should use prefered_email instead of user_id"
**Is your feature request related to a problem? Please describe.**
We just started with Leaves and there is something that I really don't get. The leave notification is send to the email address taken from employee.user_id instead employee.prefered_email.
See leave_application.py, line 515 in erpnext 13.28.0.

That forces us to create a user for every employee. See, we got about 100 employees but

[2022-05-10 11:06] iamejaaz opened #645 "Holidays should be included in payment days in Salary calculation"
Holidays should be included in **_Payment Days_** in Salary calculation when `Include holidays in Total no. of Working Days` checkbox is checked in Payroll setting.
![image](https://user-images.githubusercontent.com/67804911/167612662-0188fe73-6da3-44f9-9cad-7d56c47f397f.png)

**Is your feature request related to a problem? Please describe.**
- I am creating a salary slip and in that the holidays

[2022-05-10 11:15] iamejaaz commented on #645
![image](https://user-images.githubusercontent.com/67804911/167614304-1b10da65-7fdb-4d4d-8697-9699e3c85da1.png)
IMO, Adding these ⬆️  3 lines will include holidays in payment days

[2022-05-12 10:23] ankush commented on #645
@ruchamahabal

[2022-05-17 13:33] JoyceBabu opened #123 "Incorrect earned leave allocation"
### Information about bug

I am trying to create and allocate ‘Privilege Leave’ for our company. But the allocated leave is incorrect, when using Leave Policy Assignment.

First of all, I tried creating the ‘Privilege Leave’ type, with the following settings

![image](https://user-images.githubusercontent.com/502942/168822680-a3d44cbf-682b-44a2-9610-6b350841367c.png)

Then, I created a Leave Perio

[2022-05-26 12:26] muchai opened #643 "Create User Permission on Employee should delete user permission when unticked"
![image](https://user-images.githubusercontent.com/1822868/170487121-a469721c-11d8-484e-a051-119541d49791.png)

When ticked, Create User Permission creates a user permission for the employee

**Request**
When unticked, Create User Permission should delete this user permission for the employee

[2022-05-27 09:07] Craftint opened #4 "Submitting salary slips from payroll entry in different currency than base currency throwing error: Please enable 'Multicurrency'"
### Information about bug

The scenario is that there is a company located in UAE but base currency as USD. And they are paying employees in AED.
All the payable accounts and salary component accounts are in AED.
After creating salary slip from payroll entry, while submitting the salary slip, getting error saying:
"Please check Multi Currency option to allow accounts with other currency"

![image]

[2022-05-30 07:05] Craftint commented on #4
Can anyone have a look into this

[2022-06-01 00:35] wojosc commented on #14
Hey @nikhilponnuru our solution to this for the moment is a addon app that we have created:
https://github.com/phamos-eu/HR-Addon

You'll find the documentation here:
https://doku.phamos.eu/books/hr-addon

Hope it might help :)

[2022-06-06 06:14] Craftint opened #72 "Mark attendance considers only joining month and date not year"
### Information about bug

Description of the issue
While marking the attendance from the "Mark attendance" button in attendance list, the unmarked dates coming are incorrect.
It compares the joining date of the employee to current month and put the starting date same as joining day if months are same. It is not checking the year of joining.

For example, if the employee has joined 22nd May 2021,

[2022-06-06 09:52] iamejaaz opened #124 "Only 1 shift Attendance showing in Salary slip"
### Information about bug

- I have assigned 2 shifts to an Employee
![image](https://user-images.githubusercontent.com/67804911/172137561-25e7a1b9-5119-4589-8551-26747322fb42.png)
- Only 1 shift attendance is showing in Salary Slip
![image](https://user-images.githubusercontent.com/67804911/172137714-144624fb-ab14-415c-833c-9537a93c69c2.png)
- Same issue in Monthly Attendance Report (Summarised V

[2022-06-07 11:48] DrZoidberg09 opened #653 "Adding individual (weekly) working hours per employee"
Hi everyone,

I am currently setting up ERPNext for our company. One of the key features is tracking the time of employees based on working hours, as beautifully done by the report "Employee Hours Utilization Based On Timesheet".

However, this report (and ERPNext in general) only has one standard working hours parameter for the company. However, there are many different contract types with differ

[2022-06-16 09:10] iamejaaz opened #125 "When more than one shift attendance is marked in a day, the salary slip shows zero under Absent days"
### Information about bug

Salary slip ⬇️
![image](https://user-images.githubusercontent.com/67804911/174034378-3d0be1ba-50cd-46e4-83fc-92c8df8da5d1.png)
Attendance Absent record ⬇️
![image](https://user-images.githubusercontent.com/67804911/174034633-5ee99f6e-8f51-440d-9618-7b9102ac99cf.png)
Total Attendance marked in the month of March
![image](https://user-images.githubusercontent.com/67804911/

[2022-06-28 18:12] YamanQD opened #126 "Multi currency error on "Submit Salary Slip" from Payroll Entry"
### Information about bug

## Steps to recreate the bug

1. Create accounts with a currency different than the company's currency
2. Create salary components, salary structure, and salary structure assignments, using those accounts and currency
3. Create a Payroll Entry with that account and currency
4. Press "Create Salary Slips" button. (It works, and the salary slips are draft).
5. Press "Submi

[2022-07-04 14:11] chlarsen opened #127 "Clinical Procedure Template Customizations do not reflect, when a Clinical Procedure is created"

[2022-07-14 07:42] ruchamahabal commented on #5
Leave Application and allocation maintain a Leave Ledger for leave balance. If you want to cancel a Leave Allocation and there are existing Leave Applications against it, you must cancel the applications first, else it will lead to a negative leave balance.

I understand that the problem here is missing flexibility to reconcile balances as you are only allowed to make a single leave allocation wit

[2022-07-14 07:42] #5 closed, assigned to ruchamahabal

[2022-07-14 08:48] onlinebizsoft opened #128 "Payroll can't generate salary slip for when salary structure asignment start from middle of a month"
### Information about bug

Related to https://github.com/frappe/erpnext/issues/26821 https://github.com/frappe/erpnext/issues/29465 https://github.com/frappe/erpnext/issues/27774

When I click on the button "Create salary slips" from Payroll there is a progress bar which look like creating salary slip for every employee but it seems to stop at 70% progress and when I reload the page, there is no s

[2022-07-19 13:07] reema30 opened #15 "Income Tax calculation is wrong"
Income tax in computation report for 7.9 Lacs is wrong

<img width="1290" alt="Screenshot 2022-07-19 at 6 35 18 PM" src="https://user-images.githubusercontent.com/45488333/179757373-0c03ee7d-bb51-4181-9139-0a1eaaaba132.png">

As per cleartax

<img width="1290" alt="Screenshot 2022-07-19 at 6 34 45 PM" src="https://user-images.githubusercontent.com/45488333/179757069-71f75f0a-47ac-4ee1-9fa8-ab8b05b

[2022-07-19 13:08] reema30 opened #16 "Payroll & Income Tax related reports not working"
<img width="1290" alt="Screenshot 2022-07-19 at 4 54 26 PM" src="https://user-images.githubusercontent.com/45488333/179757544-a70c384a-fbd1-40a6-acf4-d9e2ec8dbfb1.png">

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-07-19 13:10] reema30 commented on #16
List of reports to check:

- Salary Payments Based On Payment Mode
- Salary Payments via ECS
- Income Tax Deductions
- Professional Tax Deductions
- Provident Fund Deductions
- Bank Remittance

[2022-07-19 13:12] reema30 opened #17 "Unable to create Payment entry via 'Create' button"
Doctypes:
- Employee Advance
- Expense Claim
- Gratuity

Due to this unable to know the paid / unpaid status

[2022-07-20 08:27] ruchamahabal commented on #15
The applicable tax calculated by the system seems to be correct (41500 tax amount + 1660 education cess) = 43160
Also, this issue has not occurred due to separation. The tax calculation is the same on an older site without separated apps.

<img width="1330" alt="image" src="https://user-images.githubusercontent.com/24353136/179934796-77e24d89-f13d-46fd-a447-3035571693d5.png">

Will need to check i

[2022-07-20 10:31] #16 closed, assigned to ruchamahabal

[2022-07-20 10:31] #17 closed, assigned to ruchamahabal

[2022-07-20 17:13] conncampbell opened #129 "Salary Slip not correctly calculating, leave without pay days or partial paid leave days"
### Information about bug

Duplicate of  frappe/erpnext#27975, which went stale, even after I created a pull to fix.  :(

## Description of the issue
When creating a salary slip that is based on leaves, on a employee with leave days that do not include holidays, the leave without pay is not calculated correctly.   In addition, if the leave has partial paid leave, these days are simply added as lea

[2022-07-21 05:04] centaur78 opened #19 "employee_property_update not found"
Hi @ruchamahabal

Had first run the bench update for PR https://github.com/frappe/erpnext/pull/31467 for the separation of the HR module and then installed the HRMS module app.

I am getting the below error for employee transfer

![image](https://user-images.githubusercontent.com/1904802/180133589-77bb4373-a253-40f0-9c55-6e733ce40f21.png)

same for employee promotion

![image](https://user-images.

[2022-07-21 05:34] ruchamahabal commented on #19
@centaur78 Thanks for reporting!

Cannot replicate this issue though. Can you help me with a traceback? Click **copy error to clipboard** and paste it here.

[2022-07-21 05:41] centaur78 commented on #19
@ruchamahabal

Hmm strange !! Did clear cache .. now the error for the employee separation template doesn't appear

[2022-07-21 05:43] #19 closed, assigned to nobody

[2022-07-22 03:13] charleslcso commented on #129
I have created another issue a long time ago (25 Jan 2022), and the team doesn't seem to care about the error.

https://github.com/frappe/hrms/issues/116

[2022-07-22 03:51] yadavyk opened #130 "Leave colour isn't reflected in Leave Application's calendar view"
### Information about bug

In reference with : https://github.com/frappe/erpnext/pull/27246,  the leave is still reflected in blue colour

![leave color](https://user-images.githubusercontent.com/32797974/180358808-c56d30d8-9244-4de5-9347-b3e6ca18933d.png)

### Module

HR

### Version

V14 Beta2hr

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

[2022-07-22 14:59] conncampbell commented on #129
I kinda wonder if payroll is deeply broken, and their awaiting a complete refactor.  Considering how much spaghetti payroll and hr code has, I sure hope so.

[2022-07-22 15:03] charleslcso commented on #129
I had to add features to Payroll for my client, and I kinda agree that the functions are scattered in different places. Not to mention bugs and the lack of comprehensive case study. It seems to me that they aim to get it off ground first, and patch patch and more patch - when we report issues.

[2022-07-22 15:25] conncampbell commented on #129
It's a bit sad that these breaking issues with a critical system are left to fester, especially when I believe ERPNext is a excellent product with great potential.

I've created PR for other issues, and they got integrated quickly.  Not sure why HR and payroll have issues resolving issues and PR.  Perhaps because they are critical systems and their more wary of just anybody's code.  Perhaps they u

[2022-07-26 05:21] yadavyk opened #131 "FnF Issues"
### Information about bug

1. Unable to save FnF as validation for setting relieving date is being thrown even though the form doesn't have any such field. ( Please note that relieving date has already been set in the employee record )

![fnf](https://user-images.githubusercontent.com/32797974/180929274-32569d40-9b11-4e79-9f2e-243669d18eb2.gif)

2. The assets child table isn't editable ( user role

[2022-07-26 06:39] singh0834 opened #25 "Payment Days Calculated are wrong when I entered relieving date of an employee."

[2022-07-26 06:47] ruchamahabal commented on #25
@singh0834 Please help us with more details:
Version
Screenshots explaining the problem
Steps to replicate

[2022-07-26 07:10] singh0834 commented on #25
Version 13
I entered relieving date of an employee in employee master of 15/7/2022. And I got payment days as 0.

![salary_slip](https://user-images.githubusercontent.com/44726093/180945195-3d36b2f1-1c98-4eb6-8df7-b40a57d3fd7a.PNG)

[2022-07-26 07:21] ruchamahabal commented on #25
Check Payroll Settings:

<img width="1313" alt="image" src="https://user-images.githubusercontent.com/24353136/180947299-8c4ea434-d174-4bd7-a4f8-8e021f301e7b.png">

If **Calculate Payroll Working Days** is based on attendance, then attendance records might be missing. If it's based on leave check if they have leaves in that period. Since Absent Days are shown as **20** in your salary slip.

[2022-07-26 07:32] singh0834 commented on #25
Here I uploaded all the relevant screenshots. I hope now it is clear. The employee has already been present in that month.

![Attendance](https://user-images.githubusercontent.com/44726093/180949200-baf580ee-7e5e-4469-a851-729cb73a37ca.PNG)
![employee](https://user-images.githubusercontent.com/44726093/180949214-38e43b8d-637d-4c02-9e1b-1d2456e310e7.PNG)
![payroll_setting](https://user-images.githu

[2022-07-26 13:38] yadavyk opened #73 "Error in Income Tax Computation Report"
### Information about bug

The below error pops up when you try to set up Payroll Period in  Income Tax Computation Report :
![income_tax](https://user-images.githubusercontent.com/32797974/181019471-850cef70-a0e5-4626-81e2-052fa6d34337.gif)

### Module

other

### Version

V14 Beta2

### Installation method

_No response_

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-07-27 08:16] yadavyk opened #132 "Multi round interviews Issues"
### Information about bug

In reference with : https://github.com/frappe/erpnext/pull/25482

1. Upon trying to submit the feedback without rating skills, the UI scrolls appropriately towards the skills assessment child table but no validation message such as "Please submit ratings for skills" is thrown. 2.

![interview_feedback](https://user-images.githubusercontent.com/32797974/181196720-d82f97b9

[2022-07-31 08:32] muchai opened #27 "Ability to edit Amount on Submitted Additional Salary"
https://github.com/frappe/erpnext/issues/26740

[2022-07-31 08:32] muchai opened #28 "Some Salary Components marked Statistical Component and Do Not Include in Total are displayed on the Salary Slip"
https://github.com/frappe/erpnext/issues/31745

[2022-08-01 03:57] ruchamahabal commented on #25
I cannot replicate this:

**Relieving Date set to 15/07/2022:**

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/24353136/182068848-20d9aaf3-e3e3-4d48-92eb-04f198b890a9.png">

**Attendance marked from 1st-15th of that month:**

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/24353136/182068904-ad349d42-3960-4aad-9aab-d439fc492bb3.png">

**P

[2022-08-01 05:05] ruchamahabal commented on #27
@muchai editing the amount is not a good way in case of recurring additional salaries because it calculates tax for the future recurring additional amount.

In such cases, maybe having an option to disable the additional salary and create a new one would do?

[2022-08-01 05:43] singh0834 commented on #25
Thanks for the reply.
I replicate all the things and also disable all my script (server and client script). But still I am not getting the right payment days. Can you tell me what are the possible errors.
![salary_slip_problem](https://user-images.githubusercontent.com/44726093/182079962-2e08862f-dced-4f42-85e3-6d8693be2da8.PNG)

[2022-08-01 05:45] singh0834 commented on #25
Also, In my case it is showing 16 absent days, although there is no any absent for that employee.

[2022-08-01 06:44] muchai commented on #27
@ruchamahabal In such cases, maybe having an option to disable the additional salary and create a new one would do? This would do.

Never considered the first element, probably because our use cases do not touch on taxes.

[2022-08-01 06:44] #28 closed, assigned to nobody

[2022-08-01 06:45] muchai commented on #28
https://github.com/frappe/erpnext/pull/31746

[2022-08-08 09:09] rmehta opened #32 "Interview summary UI"
- Columns should be Date, Iterview, Rating
- Expected rating is redundant

<img width="790" alt="Screenshot 2022-08-08 at 2 38 19 PM" src="https://user-images.githubusercontent.com/140076/183382420-b185e24d-afb2-44ee-87d6-ab5755d208af.png">

[2022-08-10 05:46] ruchamahabal commented on #15
https://github.com/frappe/hrms/pull/31

[2022-08-10 05:46] #15 closed, assigned to ruchamahabal

[2022-08-10 09:05] rmehta opened #34 "Traning Feedback is over-engineered"
- Allow giving feedback on draft "Trainings"
- Automatically create attendance from "Training Feedback"

[2022-08-10 09:28] #32 closed, assigned to nobody

[2022-08-21 16:04] reema30 opened #39 "Enhancements: Employee master is too lengthy"
You have to scroll a lot so tab view would be better with below sections:

- Personal Info
- Company Info
- Contact Info
-  Salary Info and so on

[2022-08-22 07:27] reema30 opened #40 "Frappe HR Docs: 404 error on internally linked links"
Links on sidebar seems to work fine but internally within pages it gives 404 error

![frappe hr docs ](https://user-images.githubusercontent.com/45488333/185863670-8c1d6cc7-d4f3-48dd-ba6a-31fef0dab1c6.gif)

[2022-08-22 08:10] fecoderchinh opened #41 "Job Openings have not been set when click on "Apply Now""
### Information about bug

Hello ERPNEXT Team,
I am trying to use ERPNEXT at my localhost and i found that when i clicked on "Apply Now" to redirect to Job Application.
The job_title of "Job Openings" was seem not set.
The url is `http://localhost/job_application?new=1&job_title=job-title` but it always redirected to `http://localhost/job_application/new`
![image](https://user-images.githubusercon

[2022-08-22 17:18] ruchamahabal commented on #40
Fixed

<img width="970" alt="image" src="https://user-images.githubusercontent.com/24353136/185980991-ff5953ab-4587-43c8-9605-f4c898d4caed.png">

[2022-08-22 17:18] #40 closed, assigned to nobody

[2022-08-24 08:41] mastewalm opened #133 "Expire Carry Forwarded Leaves (Days)"
### Information about bug

the Expire Carry Forwarded Leaves (Days) is not working as expected, in my opinion. I think, if I insert 365 days as a value, it should carry forward the allocated amount or the remainder after the leave application for that number of days, and those leaves that are allocated but have already passed 365 days should be expired. but in my case, if I put 365 as a value, all

[2022-08-25 09:12] fecoderchinh opened #44 "Does ERPNext able to receive replied email from outside Frappe?"
Hello Frappe Team,
Today i have another issue while using HRMS.
On ERPNext, i can send many things to users who are still not my ERP's member (outside this system), they can receive my notification, job-offer, reschedule interview, etc.
The scenario here is, when i sent to user an email, then i could not receive any email on "Communication List", but it has sent to my outside inbox successfully.
T

[2022-08-26 07:14] mastewalm opened #45 "Expire Carry Forwarded Leaves (Days)"
the Expire Carry Forwarded Leaves (Days) is not working as expected, in my opinion. I think, if I insert 365 days as a value, it should carry forward the allocated amount or the remainder after the leave application for that number of days, and those leaves that are allocated but have already passed 365 days should be expired. but in my case, if I put 365 as a value, all the allocations will be ac

[2022-08-29 05:59] this-gavagai opened #46 "Income Tax Slabs require arbitrary gap"
Hello,

At present, Income Tax Slabs require an arbitrary 1 unit gap between the `to_amount` and the `from_amount` of two consecutive slabs.

In concrete terms, compare the following two Income Tax Slab definitions:

This one...
<img width="1036" alt="Screenshot 2022-08-29 at 11 10 40 AM" src="https://user-images.githubusercontent.com/9303694/187132049-5ebf8ed0-5f0c-4b34-8b2a-4497defb7862.png">
 .

[2022-08-29 07:03] ruchamahabal commented on #45
@mastewalm The Expiry setting will work for leave allocations which are created only after you set up the expiry.
For eg:
1. You set up leave type without "Expire Carry Forwarded Leaves (Days)" set
2. Create a Leave Allocation (L1) with carry-forwarded leaves.
3. You update "Expire Carry Forwarded Leaves (Days)" to 5.
4. Create a Leave Allocation (L2) with carry-forwarded leaves.

This won't affec

[2022-08-29 07:05] ruchamahabal commented on #44
You will have to set up Incoming Email Accounts and the "Append To" feature for this to work.
Check this out:
https://docs.erpnext.com/docs/v13/user/manual/en/setting-up/email/email-account#32-incoming-email-accounts
https://docs.erpnext.com/docs/v13/user/manual/en/setting-up/email/linking-emails-to-document

[2022-08-29 07:05] #44 closed, assigned to nobody

[2022-08-29 07:38] #41 closed, assigned to ruchamahabal

[2022-08-29 07:41] ruchamahabal commented on #25
Is your instance updated to the latest version 13 release? A couple of fixes have gone into the releases for payment days maybe that's why I am unable to replicate your issue.

[2022-08-29 07:42] #45 closed, assigned to nobody

[2022-08-29 08:47] mastewalm commented on #45
Thank you for your email. Here is my problem in detail.

[image: image.png]
[image: image.png]
[image: image.png]
[image: image.png]
[image: image.png]

based on these images, since "Expire Carry Forwarded Leaves (Days)" is set
for 100 days it should not be expired. it should be carried forward for the
next 40 days I think.
when you see the leave balance report the previous allocation is expired
b

[2022-08-29 08:50] ruchamahabal commented on #45
@mastewalm the images are not visible. Check
https://github.com/frappe/hrms/issues/45

[2022-08-29 09:09] muchai opened #48 "Deductions based on GrossPay - V13 and V14"
https://github.com/frappe/erpnext/issues/21033

This seems to have recurred. Only this time, this kind of deductions only get triggered if there's an extra allowance.
Trying to play with the formulas and see in the meantime.
This happens in the latest updates.
After fix of: https://github.com/frappe/hrms/issues/28

[2022-08-29 13:08] mastewalm commented on #45
I have attached the images in separating them in two.

Example 1
As you can see in the images, since "Expire Carry Forwarded Leaves (Days)"
is set for 100 days it should not be expired. it should be carried forward
for the next 40 days I think.
when you see the leave balance report the previous allocation is expired
but on the leave application, it shows that it is not. Maybe this is
because the l

[2022-08-29 13:14] ruchamahabal commented on #45
The images haven't been rendered. Check the screenshot below:
On link: https://github.com/frappe/hrms/issues/45

<img width="605" alt="image" src="https://user-images.githubusercontent.com/24353136/187209374-68adca88-7254-41e0-a9bf-4f3c7dabaa47.png">

[2022-08-29 23:31] ahmadRagheb opened #134 "salary structure don't see statistical component"
### Information about bug

when you create a salary component and select :
statistical_component = 1
this will automatically affect the account table: in this table, we add the company
...
so if i want to create a statical component it won't be able to use in salary structure since salary  structure filter components by company
---

one work around is to add companies to accounts table then select

[2022-08-30 04:29] mastewalm commented on #45
I have attached a jpg image by separating them in two.

Example 1
As you can see in the images, since "Expire Carry Forwarded Leaves (Days)"
is set for 100 days it should not be expired. it should be carried forward
for the next 40 days I think.
when you see the leave balance report the previous allocation is expired
but on the leave application, it shows that it is not. Maybe this is
because the

[2022-08-30 07:57] mastewalm commented on #45
please I need your help

On Tue, Aug 30, 2022 at 7:29 AM mastewal abiebie ***@***.***>
wrote:

[2022-08-31 01:30] dj12djdjs commented on #134
@ahmadRagheb This is defiantly a bug rendering statistical components unusable.

[2022-08-31 01:56] dj12djdjs commented on #133
@mastewalm Could you provide more information, I'm trying to understand this problem. I'm unsure what 365 is being assigned to.

Could you provide a full example? Creating: leave type, leave allocation, etc.. Expected results, and actual results?

[2022-08-31 03:09] fecoderchinh commented on #44
Thank you very much @ruchamahabal

[2022-08-31 03:13] Ponyooooo commented on #134
this is my concern too. In version 12 all statistical components can be added to the salary structure and when you submit the salary slip, the system does not ask for the accounts since the statistical components should not be included in the journal entries. In the version 13, this process is not applied. Until now I cant find any workaround

[2022-08-31 05:10] mastewalm commented on #133
Thank you for your response

In my company, leaves are carried forward for 2 years. I was testing the
ERPNext system with 1 year carry forward, which is 365 days. So if I use a
number of days less than a year, it works.
But if the number of days is 365 (which as I said is 1 year) or more, it
doesn't work as expected. To clarify:
for example I created 3 leave allocation.
period 1 from july 1, 2020

[2022-08-31 23:51] ahmadRagheb commented on #134
@dj12djdjs I will start working on PR for v13 and link it with this issue.
@Ponyooooo I will look at v12 too and try to fix it, I think v12 is still supported by the frappe release.

[2022-09-01 01:18] dj12djdjs commented on #45
Hi @ruchamahabal,

I don't follow, under the documentation [How to Create a Leave Type](https://docs.erpnext.com/docs/v13/user/manual/en/human-resources/leave-type#1-how-to-create-a-leave-type) the following is mentioned

I'm looking at this information and thinking the correct implementation would be as follows:
(No leaves are used during this example)
1. Create Leave Type (LT)
     - Is Carry Fo

[2022-09-01 01:41] dj12djdjs commented on #134
I think @Ponyooooo is saying it works in version-12, in version-13 a bug was introduced that wasn't backported to v12.

[2022-09-01 05:13] devmiguelpereira opened #135 "create_salary_slips_for_employees"
### Information about bug

After adding an adicional salary to an employee, when i try to create the salary slip i get the following error

Message

Error in formula or condition: unsupported operand type(s) for +: 'float' and 'NoneType'

### Module

HR

### Version

ERPNext: v13.37.0 (version-13)
Frappe Framework: v13.40.0 (version-13)

### Installation method

easy-install

### Relevant log outp

[2022-09-01 05:17] mastewalm commented on #45
Thank you for your response.

Yes, you have understood me correctly. And the same thing should work for
"Expire Carry Forwarded Leaves (Days)" greater than 365 days because my
company carries forward leaves for two years. And if possible it would be
great if there could be a way to use expired leaves if the need arises.

I really appreciate your help.
Thank you

On Thu, Sep 1, 2022 at 4:19 AM Devi

[2022-09-03 11:36] tsmanagers opened #136 "Employee Leave Balance Report is not working - V13"
### Information about bug

When I click on Employee Leave Balance Report at that time following error come.

App Versions
{
	"erpnext": "13.36.5",
	"frappe": "13.39.1",
}
Route
query-report/Employee Leave Balance
Error Report
Traceback (most recent call last):
  File "apps/frappe/frappe/app.py", line 69, in application
    response = frappe.api.handle()
  File "apps/frappe/frappe/api.py", line 55,

[2022-09-04 17:37] SalahAddinAbdo opened #137 "I could not submit salary slip from Payroll Entry"
### Information about bug

I could not submit salary slip from Payroll Entry. An error faced me like the below photo. I do not know how can I solve it. Could anyone help me please.

![Screenshot 2022-09-04 202946](https://user-images.githubusercontent.com/96741326/188326148-bb89d2ac-a122-44aa-b432-27b47a8240fb.jpg)

### Module

other

### Version

ERPNext:  v13.37.0 (HEAD)
Frappe Framework:  v13.4

[2022-09-05 13:05] mastewalm commented on #133
![6](https://user-images.githubusercontent.com/47661230/188456004-088d788d-2403-450a-a66b-8c0047c101d5.jpg)
![7](https://user-images.githubusercontent.com/47661230/188456062-e8b85600-6a4f-4e69-a3de-0b9ebc15519e.jpg)
![8](https://user-images.githubusercontent.com/47661230/188456079-687998e4-f851-4c25-8298-55579785acb2.jpg)
![9](https://user-images.githubusercontent.com/47661230/188456087-cba1dfa3-3

[2022-09-06 05:50] ruchamahabal commented on #50
This is already in place:

Component level: https://github.com/frappe/erpnext/pull/24362
Slip level: https://github.com/frappe/erpnext/pull/24176

[2022-09-06 05:50] #50 closed, assigned to nobody

[2022-09-07 07:01] ruchamahabal commented on #39
https://github.com/frappe/hrms/pull/42
https://github.com/frappe/erpnext/pull/31940

[2022-09-07 07:01] #39 closed, assigned to ruchamahabal

[2022-09-08 08:47] muchai commented on #27
![image](https://user-images.githubusercontent.com/1822868/189077331-957712be-84ff-407e-9009-6d7a10fd975f.png)
After adding a disabled field.
Probably allow edit on submit for due date.
Salary slip still picks disabled additional salaries

[2022-09-09 15:34] thida-bcn commented on #137
there might be problem with formula or field type

[2022-09-12 04:27] ruchamahabal commented on #48
@muchai can you explain your issue a bit more with screenshots of your updated salary structure and formulae?

[2022-09-12 07:29] muchai commented on #48
**First, we define our gross pay as a sum of basic salary + any allowance**
![image](https://user-images.githubusercontent.com/1822868/189594472-b6b0abed-be05-45b2-989a-f6acc51054ab.png)

**Then we have several NHIF/National Health Insurance Fund as below**
**From Band 1**
![image](https://user-images.githubusercontent.com/1822868/189594741-c7ce6e03-7144-4635-a66f-789baf65bb3c.png)

**To Band 17**

[2022-09-15 05:39] mastewalm commented on #133
should I expect a solution? because I really need one.

[2022-09-15 06:54] dj12djdjs commented on #133
I'll try CC the code owner for this module since this issue is still open.
CC: @ruchamahabal

Do you have any comment for this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

[2022-09-15 08:04] mastewalm commented on #133
@ruchamahabal closed this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

I was trying to respond through email and did not check the page. because of that, the images I sent were not visible. should I attach the images even if @ruchamahabal closed it?

[2022-09-15 11:31] dj12djdjs commented on #133
@mastewalm Since this issue is open, you can post them here for another reference of expected behavior.

[2022-09-15 12:43] mastewalm commented on #133
@dj12djdjs In that case, you have understood and put it as I expect the system to perform in this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

and as you have seen above on this page, I have attached images for more clarification.
I hope it will be resolved.

Thank you for your time and responce.

[2022-09-17 14:40] maveezmh opened #282 "Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created"
### Information about bug

Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created

![image](https://user-images.githubusercontent.com/112148467/190862439-0f73a5f8-5e3b-4330-9a1d-c32d335d13ba.png)

When you try to create salary slips from payroll and submit it
the system automatically adds timesheet co

[2022-09-19 10:26] mastewalm commented on #45
![6](https://user-images.githubusercontent.com/47661230/190998051-e1be7a7d-f65c-402c-93e8-32d2670913ee.jpg)
![7](https://user-images.githubusercontent.com/47661230/190998062-8da167e0-490b-43f4-9b37-c9b68fb225b1.jpg)
![8](https://user-images.githubusercontent.com/47661230/190998068-4cd1cadb-c945-4a63-a068-af8534bd2f71.jpg)
![9](https://user-images.githubusercontent.com/47661230/190998088-bb114c00-3

[2022-09-20 06:31] mastewalm opened #61 "Expire Carry Forwarded Leaves (Days)"
The "Expire Carry Forwarded Leaves (Days)" is not working correctly. please check this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086.

everything is explained there.
@dj12djdjs has put it as the system is expected to function on this: https://github.com/frappe/hrms/issues/45#issuecomment-1233622086

additionally you can see the following images

![6](https://user-images.githubu

[2022-09-21 05:17] thida-bcn opened #138 "Payroll posting to Journal Entry"
### Information about bug

When we submit Payroll to Jounral Entry, Payroll Entry link is missing
in case when we need to rerun payroll, we have to cancel / delete journal entry manual

### Module

HR

### Version

ERPNext Version : v13.35.2
https://drive.google.com/file/d/1lL6vDxxhiExm7DsT8dZMQLK8IwBlvZ07/view?usp=sharing

### Installation method

manual install

### Relevant log output / Stack t

[2022-09-22 05:27] #61 closed, assigned to nobody

[2022-09-22 05:29] mastewalm commented on #133
@dj12djdjs: I am still waiting for a response but @ruchamahabal is not responding. Any idea?

[2022-09-22 05:43] ruchamahabal commented on #133
Hello, we will check this issue and respond. Please close all the duplicate ones

[2022-09-22 05:55] mastewalm commented on #133
@ruchamahabal: ok thanks.

[2022-09-23 10:40] Olawale1 opened #81 "No Way to Stop Recurring Additional Salary"
### Information about bug

Hi ,

It appears there’s no way to stop an Additional Salary document that is set as ‘Is Recurring’ which is quite an issue! We have a bunch of these recurring ones and now we need to make changes before the end date. Cancelling doesn’t work as it throws an error that the doc is linked to existing Salary Slips. I think the system should allow Cancellation (not Deletion)

[2022-09-24 12:29] njsubedi opened #62 "Job Application "Apply" button URL incorrect"
While applying for a job, the URL of the "Apply" button is set in the following format:

`https://example.com/job_application?new=1&job_title=example`

It should actually be in the following format:
`https://example.com/job_application/new?job_title=example`

This issue has cause the job title to be missing from the job application form.

[2022-09-24 19:10] ruchamahabal commented on #62
it was fixed here: https://github.com/frappe/hrms/pull/47

Upgrade to the latest version to get the fix

[2022-09-24 19:10] #62 closed, assigned to nobody

[2022-09-25 22:52] naifattam commented on #126
I am getting the same error message when submitting purchase invoice with different currency than base currency.

Hope to get help resolving this issue please?

[2022-09-27 09:02] iMoshi opened #64 "Feature request: hourly leaves"
Hello Frappe and FrappeHR, I have long been looking for hourly leave capability in HR module of now FrappeHR.

Please look into it as many companies require leaves to be granted on hourly basis, specially for trainees and part-time workers :)

[2022-09-27 15:33] maveezmh opened #66 "Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created"
### Information about bug

Salary Slips having Salary Structures with one of the component calculated based on Timesheet cannot be submitted until atleast one timesheet is Created

![image](https://user-images.githubusercontent.com/112148467/190862439-0f73a5f8-5e3b-4330-9a1d-c32d335d13ba.png)

When you try to create salary slips from payroll and submit it
the system automatically adds timesheet co

[2022-09-29 05:45] iamejaaz opened #71 "holiday reminders error on bench migrate"
## Description of the issue
- Frequency change error of hrms showing on bench migrate command
![image](https://user-images.githubusercontent.com/67804911/192948029-e65793d9-ead4-4e99-858c-63475f1f4167.png)

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. run `bench update` or `bench migrate` command

### Stacktrace / full error me

[2022-09-29 06:08] ankush commented on #71
Exception shouldn't be raised here I think 👀

[2022-09-29 06:11] iamejaaz commented on #71
ohhhhhh, Sorry for that 😬 😅

[2022-09-29 13:00] ruchamahabal commented on #73
What to fix?

Income Tax Computation Report tries to calculate component amounts configured in the salary structure. If there is any error while evaluating the formula like it's referring to some non-existing component/abbreviation, the error should be handled gracefully like:

Incorrect condition/formula while evaluating salary structure: {salary_struct_name}
And then show the error message

[2022-09-29 19:24] kennethsequeira opened #74 "Salary Component not showing up on in Salary Structure even though created"
![image](https://user-images.githubusercontent.com/33246109/193123727-64b76eae-03cb-413f-a819-9e16c408906d.png)

![image](https://user-images.githubusercontent.com/33246109/193123803-7bc2d163-a63d-4ae4-b3ce-b8401aa54fc2.png)

Strange as it is picking up the right filters as well. Observed on a fresh installation.

[2022-09-29 19:27] kennethsequeira commented on #74
Ah, these components won't appear unless the company and account are assigned under the Salary Component.

@ruchamahabal can this be tagged as a UX issue? Not really a bug, just needs to be a little intuitive for the setup :D

[2022-10-03 07:10] KhaledBinAmir opened #77 "Leave Balance Miscalculated"
## Description of the issue
Leave balance showing wrong balance.

Leave ledger entry has two records, (Allocated +10, Leave Application -3), so the balance should be 7.
![image](https://user-images.githubusercontent.com/30042185/193513639-7e35245a-da6a-4772-8825-79ee63f25201.png)

Reports, everywhere including in the leave application showing balance 8
![image](https://user-images.githubuserconten

[2022-10-03 08:18] KhaledBinAmir opened #78 "Additional Salary amount incorrectly appended in Salary Slip"
I have faced same issue for multiple additional salary entries.

This is the associated additional salary record.
![image](https://user-images.githubusercontent.com/30042185/193530460-e960fbd1-4e97-4f78-ba60-a900f3f2546f.png)

This is salary slip of the same employee within payroll date.
![image](https://user-images.githubusercontent.com/30042185/193531408-35545bd0-7cf4-4648-b72a-a049e8bbc84e.png)

[2022-10-03 18:29] reema30 opened #79 "Country field should be a select field during Sign Up"
Currently, country field is not a select field due to which there are chances of spelling mistake or typos (like use small case only). Although, an error message shows up if the country is invalid but it is better to have a select field

![WhatsApp Image 2022-09-30 at 1 07 50 AM](https://user-images.githubusercontent.com/45488333/193651370-954b1b40-e9f5-4266-b63d-7a4fbbec97e0.jpeg)

![WhatsApp Ima

[2022-10-04 03:05] ruchamahabal commented on #79
This is a SAAS issue in the press app: https://github.com/frappe/press
Open an issue there. Can't transfer this for some reason.

[2022-10-04 03:05] #79 closed, assigned to nobody

[2022-10-04 05:22] KhaledBinAmir commented on #78
I just figured out it caused when `Depends on Payment Days` is checked.

[2022-10-04 05:22] #78 closed, assigned to nobody

[2022-10-06 07:57] #72 closed, assigned to nobody

[2022-10-07 09:36] fecoderchinh opened #82 "Missing translations"
Hi
I see there was missing translation such as the below routes.
[code]
Please kindly check and help to provide these file.
Thanks.

[2022-10-10 06:59] ruchamahabal commented on #82
Can you elaborate on the issue? I am not really sure if the framework translates routes

[2022-10-10 07:01] ruchamahabal commented on #77
@hiimkhaled can you share the dates for:

- your allocation period
- leave application period

[2022-10-10 07:20] ruchamahabal commented on #64
This is not planned currently in any roadmap. Closing for now

[2022-10-10 07:20] #64 closed, assigned to nobody

[2022-10-10 12:31] fecoderchinh commented on #82
Hi @ruchamahabal,
I found the JSON file that contains these DocType's label in English, but i cannot find any translation.
So that, when i change to other language, nothing happen but English.
I was talking about the content that rendered on each routes.
You can go to each route and check for the translations.

[2022-10-13 12:04] ArunaDevraj opened #642 "Track the employees who comes after the late entry grace period & exits before early exit grace period and allow(give permission) the project head to permit(present) the employees those who are late coming due to some valuable reasons or due to some emergency."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-15 20:16] akhashogji opened #87 "Error post v13 upgrade"
After upgrading from v13, I'm getting the following error
`FileNotFoundError: [Errno 2] No such file or directory: 'apps/hrms/hrms/hr/doctype/branch'`
![ScreenShot_2022-10-15_23 16](https://user-images.githubusercontent.com/52230109/196005982-8399a17d-a7b4-4b5e-afd1-16c205e1f074.png)

[2022-10-16 04:02] ruchamahabal commented on #87
@akhashogji Branch doctype has been moved from HR to Setup module in ERPNext since it's used by a lot of doctypes across modules. Do you have any references to this path in your custom apps? If yes you will have to update the path. Make sure your site is migrated properly.

Check separation PR for more context:
https://github.com/frappe/erpnext/pull/31467

Also if you could click on copy error to

[2022-10-17 09:24] KhaledBinAmir commented on #77
@ruchamahabal Sorry for the late reply.

Leave Application Entry
![image](https://user-images.githubusercontent.com/30042185/196140805-f84ed0a5-0d8a-4680-8d63-9aed461be969.png)

Leave Allocation Entry
![image](https://user-images.githubusercontent.com/30042185/196141027-2faaca47-74e3-47cb-b846-067f64689cac.png)

Let me know if I can help more on this.

[2022-10-24 14:47] ruchamahabal commented on #90
Multiple fixes made for payment days. This issue doesn't replicate anymore. Reopen with specific examples if the issue persists in v13/14

[2022-10-24 14:48] #90 closed, assigned to nobody

[2022-10-24 14:49] ruchamahabal commented on #91
Works fine after tax exemption calculation fixes. Closing. Reopen if issue is replicated again.

[2022-10-24 14:49] #91 closed, assigned to Anurag810

[2022-10-24 14:50] ruchamahabal commented on #92
Salary slips tested at scale and background job queuing UX has been implemented. Issue doesn't persist anymore. Closing

[2022-10-24 14:50] #92 closed, assigned to nobody

[2022-10-25 06:14] ArunaDevraj opened #139 "Can't clear the cache memory of the logs directory of biometric attendance sync tool."

[2022-10-26 07:40] ruchamahabal commented on #101
Enable depends on payment days for your salary slip components

https://docs.erpnext.com/docs/v13/user/manual/en/human-resources/salary-component#22-additional-properties

[2022-10-26 07:40] #101 closed, assigned to nobody

[2022-10-26 09:54] mastewalm commented on #133
Greetings @ruchamahabal
Any update on this issue?

[2022-10-26 21:13] #87 closed, assigned to nobody

[2022-10-26 21:14] akhashogji opened #110 "Expense claim error"
While submitting an expense claim, users are getting the attached error. Upon investigating, this is due to leaving the expense approver empty. Even though it's not required, they're getting the error.

[code]

[2022-10-27 02:56] this-gavagai opened #111 "Feature Request: Multiple Income Tax Slab components"
Many tax jurisdictions require that several different income-based deductions be taken simultaneously, for example when federal and local income taxes are assessed separately.

At present, the Salary Structure Assignment doctype allows only a single Income Tax Slab to be assigned. I would propose that this be changed to allow multiple Income Tax Slabs to be selected, each matched to a specific Sal

[2022-10-28 06:15] zuron7 commented on #615
This can be easily achieved through a server side script. If you've got a developer, I'd recommend going down that route instead of integrating the feature into the core of ERPNext.

[2022-10-28 07:57] charleslcso commented on #129
Enterprise clients use this kind of app. If calculations are wrong, I have no choice but not to use it.

So bye bye Frappe/ERPNext!

[2022-10-29 06:37] ruchamahabal commented on #105
This patch was completely removed in https://github.com/frappe/erpnext/pull/31097.

[2022-10-29 06:37] #105 closed, assigned to nobody

[2022-10-29 06:39] ruchamahabal commented on #107
Fixed via
https://github.com/frappe/erpnext/pull/31724
https://github.com/frappe/erpnext/pull/31614

[2022-10-29 06:39] #107 closed, assigned to nobody

[2022-10-29 06:42] #108 closed, assigned to pateljannat

[2022-10-29 06:44] ruchamahabal commented on #110
Fixed: https://github.com/frappe/hrms/pull/141

[2022-10-29 06:50] #110 closed, assigned to nobody

[2022-10-29 07:02] ruchamahabal commented on #114
Can't replicate this in vanilla. Avoid making changes in the core

[2022-10-29 07:02] #114 closed, assigned to nobody

[2022-10-29 07:17] ruchamahabal commented on #120
Manually entering rows and amounts is supported but if you are doing so, make sure you don't have a formula or any default amount set in the salary structure and "Depends on Payment Days" is disabled. Otherwise, the system will auto-calculate based on your structure and overwrite your manual amount. This is done to maintain data integrity throughout payroll.

[2022-10-29 07:17] #120 closed, assigned to nobody

[2022-10-29 07:21] ruchamahabal commented on #122
Although a consolidated journal entry is made for this and this feature is not supported right now, you can use the following features to serve your purpose:

- Checkout **Salary Register** report to see employee-wise salary booking
- You can configure cost center distributions in salary structure assignments to reflect costing in separate heads. More details here: https://github.com/frappe/erpnex

[2022-10-29 07:25] ruchamahabal commented on #132
This is the standard framework behavior for mandatory fields.

[2022-10-29 07:25] #132 closed, assigned to ruchamahabal

[2022-10-29 07:27] ruchamahabal commented on #135
Fixed in https://github.com/frappe/erpnext/pull/32184

[2022-10-29 07:27] #135 closed, assigned to nobody

[2022-10-30 17:46] vandarkent100 opened #146 "Tax & Benefits -> Salary Slip -- Problem with saving data"
### Information about bug

Hi,

Seems like the salary slip "saving functionality" is broken.

After adjusting the value in the "Earnings & Deductions" section for any of the available components the Gross Pay and Net Pay values are being updated, but after clicking the save button the values of the Gross Pay and Net Pay are changing to zero.

https://user-images.githubusercontent.com/117034873/198

[2022-10-31 01:57] fecoderchinh opened #155 "Attach Print does not translate content"
### Information about bug

When i send an email with Attach Print, the PDF always in english even if i have selected my own language.
![image](https://user-images.githubusercontent.com/13318452/198915515-01573ba3-f63e-49be-925e-3d3eab574370.png)

Meanwhile the text of the E-Mail itself is translated correctly.

### Module

HR

### Version

ERPNext: v14.2.1 (version-14)

Frappe Framework: v14.9.0 (

[2022-11-01 01:39] fecoderchinh opened #145 "Print Format: AttributeError: 'NoneType' object has no attribute 'fieldtype'"
## Description of the issue

## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1. Go to `Print Format`
2. Select `Job Offer`
3. Click on `Print`

### Observed result
AttributeError: 'NoneType' object has no attribute 'fieldtype'

### Expected result
Print Format Layout

### Stacktrace / full error message

### App Versions
[code]
### R

[2022-11-01 06:29] this-gavagai commented on #111
I've dug into this a bit now, and it seems very accessible. On my installation, I was able to implement this behaviour with <10 lines of code changed.

From a UX perspective, I think the best way to implement this feature is as part of a "Salary Component Adjustment" function in the *Salary Structure Assignment* doctype. For example, a salary structure that defines a transportation allowance of $5

[2022-11-03 13:58] ArunaDevraj opened #151 "Can't create a half holiday in holiday list."
### Information about bug

Add a field half day in holiday list and enabled it for particular day.
But that day falls under full holiday (total holiday).

### Module

HR

### Version

13.35
13.35

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

_No response_

[2022-11-05 11:32] netsec-yogi opened #147 "HRMS Leave Allocation Policy Issue"
The scheduler function for HRMS earn leave is allocating wrong leaves when Half-Yearly Option is selected as frequency.
The function "get_monthly_earned_leave" in file of hrms.hr.utils.py is created with wrong values in the dictionary "divide_by_frequency = {"Yearly": 1, "Half-Yearly": 6, "Quarterly": 4, "Monthly": 12}"

The correct value for Half-yearly Key should be 2 instead of 6.

[2022-11-06 11:09] farukahmmed opened #148 "OT Sheet calculation based on Biometric Attendance"

[2022-11-06 13:12] ankush commented on #149
@barredterra is this still reproducible?

I am guessing this was just bug in shift_attendence_calendar.js

Also doctype controllers can dictate what to do with dropped values.

[2022-11-07 12:40] barredterra opened #150 "Migrate existing translations from ERPNext"
Suggested approach:

1. extract the set of translatable strings from hrms
2. extract the set of translatable strings from erpnext
3. subtract (2) from (1) to get all strings that are in hrms but not in erpnext
4. move existing translations for these strings from erpnext to hrms

[2022-11-07 17:38] deepeshgarg007 commented on #152
This should be extended via the HR app and then ignored through hooks. Moving to hrms repo

[2022-11-08 04:41] ruchamahabal commented on #151
Duplicate: https://github.com/frappe/hrms/issues/13

[2022-11-08 04:41] #151 closed, assigned to nobody

[2022-11-10 06:49] saurabh6790 commented on #77
@hiimkhaled Not able to reproduce locally, are you still facing this issue?

[2022-11-10 07:08] saurabh6790 commented on #136
Not reproducible in the latest version-13. @tsmanagers Please reopen the issue if you face this issue again

[2022-11-10 07:08] #136 closed, assigned to nobody

[2022-11-11 06:42] #147 closed, assigned to nobody

[2022-11-13 07:57] sjain17 opened #157 "Expense claims shows unpaid if we reconcile with Journal Entry"
### Information about bug

Problem Statement -
The expense claim shows Unpaid even after matching (reconciling) the complete amount with Journal Entry.

How to reproduce the issue-

1. Create one expense claim of INR 2000 and Submit it (Status= Unpaid)
2. Create one Purchase Invoice of INR 2000 and Submit it (Status= Unpaid)
3. Now make one journal entry (Bank Entry) and use bank, supplier, and ex

[2022-11-17 08:52] saurabh6790 commented on #157
### Status

Not reproducible
---
### Tested on
Frappe: 13.43.2
ERPNext: 13.41.1

---

### Steps
- Created expense claim for the amount INR 1000
<img width="1052" alt="Screenshot 2022-11-17 at 2 13 52 PM" src="https://user-images.githubusercontent.com/3784093/202399162-6555c782-b166-41c2-95de-ed4cab93e4b4.png">

- Created purchase invoice for the same amount
<img width="1324" alt="Screenshot 2022-1

[2022-11-17 08:52] #157 closed, assigned to nobody

[2022-11-17 09:08] #145 closed, assigned to nobody

[2022-11-17 09:14] #77 closed, assigned to nobody

[2022-11-17 09:15] #71 closed, assigned to nobody

[2022-11-17 09:16] #74 closed, assigned to nobody

[2022-11-17 09:18] #134 closed, assigned to nabinhait

[2022-11-17 10:40] nabinhait commented on #46
But is not the 2nd (and current model) model more user-friendly and expected behaviour? If one slab is ending at x amount, then the next slab should start from (x+1).

[2022-11-17 10:43] saurabh6790 opened #160 "Provision to tag employees in Journal entry while processing salary"
- Provision to tag employees against the salary in journal entry

[2022-11-17 10:44] #46 closed, assigned to nobody

[2022-11-18 06:44] #138 closed, assigned to nobody

[2022-11-18 12:18] farukahmmed opened #163 "Working Hour calculation is wrong"
It is calculating working hour without considering "grace period", "Begin check-in before shift start time" and "Allow check-out after shift end time".
It is simple calculating **Working_hour=out_time - In_time** that not right .
It should also consider break time such as "lunch break". Shift setup should include 'break time/hour'
please do needful.

[2022-11-19 04:05] this-gavagai commented on #46
Mathematically, the next slab starts at exactly the same point that the previous slab ends, not one unit higher. If my income is 600,000.50, is that 0.50 taxed at the <600,000 rate or the >600,001 rate? With the current system, that’s not clear.

As for whether this is expected behavior, I think that depends a lot on local conventions. Leaving a 1 unit gap is common in South Asia, but other countr

[2022-11-19 12:12] ChandanaSP23 commented on #129
Kindly verify this  [PR](https://github.com/frappe/hrms/pull/164) for your issue. @conncampbell

[2022-11-20 13:48] jalajc commented on #106
@ruchamahabal why removed bug label?
I am facing the same issue for timesheet based salary slip.

[2022-11-21 10:51] nipunanr opened #165 "Quater Day (0.25) Holidays on Leave Application"
Some Companies manage short leaves (0.25 Day holidays) which deduct from Annual or Casual leaves. Employees can apply for a casual  or annual leave and select as Quater Day (Similar to Half Day). So it will be deduct from respective allocation.
![image](https://user-images.githubusercontent.com/40770028/203032204-5e94c39e-c10f-4a57-8db7-ab8c2552347d.png)

[2022-11-24 07:16] kennethsequeira commented on #160
@saurabh6790 is this request similar to employee-wise JE for salary?

Reference: https://github.com/open-alt/employeewise_payroll

[2022-11-24 07:17] #207 closed, assigned to nobody

[2022-11-25 06:00] kokilavani1983 opened #214 "No label required message while approve/reject leave application"
Kindly help to sort the below, i have created a workflow for leave application as
in States
1)state (draft), Allow edit (employee)
2 ) Approved Dco status (1) allow edit (leave approver)
3) Rejected doc status (2) allow edit (leave approver)
in transition rules

draft approve approved leave approver
draft reject draft leave approver
Approved approve approved leave approver
While approving the leav

[2022-11-25 08:58] lohnxongmixay opened #216 "Postgres - install-app hrms error"
Installing hrms...
Updating DocTypes for hrms          : [========================================] 100%

Patching Existing Data...
Syntax error in query:
update "tabSalary Structure" ss, "tabSalary Detail" sd
		set sd.docstatus= '1'
		where ss.name=sd.parent and ss.docstatus= '1' and sd.parenttype='Salary Structure' None
An error occurred while installing hrms: syntax error at or near ","
LINE 1:

[2022-11-28 05:41] iamejaaz commented on #71
Hey @saurabh6790
this issue isn't fixed
![image](https://user-images.githubusercontent.com/67804911/204202381-2f475250-bd59-4fb5-bb53-34869cc9b6c1.png)

[2022-11-30 13:46] maveezmh opened #225 "Emplyee Checkin form is fetching Asia/Kolkata Time by default"
### Information about bug

In the system setting the default timezone is selected Dubai.
 the checkin form is fetching Asia/Kolkatha Time.

![Screenshot 2022-11-30 at 17-26-10 New Employee Checkin - new-employee-checkin-2](https://user-images.githubusercontent.com/112148467/204812601-ff39b862-f709-457d-8fa0-18eca6c0f326.png)

### Module

HR

### Version

ERPNext: v14.8.0 (HEAD)
Frappe Framework: v